﻿@model Core.Views.DepartmentView

<fieldset>
    <legend>Подразделение</legend>

    <div>
        @Html.HiddenFor(p => p.DepartmentId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.CompanyId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CompanyId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.ParentDepartmentId):
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.ParentDepartmentId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.ParentDepartmentId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.CostCenterId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.CostCenterId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CostCenterId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Name)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>
</fieldset>
