﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Активность пользователей";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Активность пользователей</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.LogUserActivityView>()
        .Name("LogUserAct")
        .DataKeys(p => p.Add(d => d.LogUserActivityId))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "LogUserActivity")
        )
        .Columns(p =>
        {
            //p.Bound(c => c.LogUserActivityId).Hidden();
            p.Bound(c => c.EventDate).Format("{0:dd.MM.yyyy HH:mm:ss}");
            p.Bound(c => c.Authid);
            p.Bound(c => c.SecArea);
            p.Bound(c => c.SecController);
            p.Bound(c => c.SecAction);
           // p.Bound(c => c.QueryString);
            p.Bound(c => c.Result);
        })
        .Groupable()
        .Filterable()
        .Sortable(s => s.OrderBy(o => o.Add(a => a.EventDate).Descending()).SortMode(GridSortMode.MultipleColumn))
        .Pageable(p => p.PageSize(20))
        .ClientEvents(e=>e.OnRowDataBound("OnRowDataBoundLogUserAct")                            
            )         
    )
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function OnRowDataBoundLogUserAct(e)
        {
            if (e.row.cells[5].innerHTML == 'false') {
                e.row.cells[5].style.cssText = "font-weight: bold; color: Red";
            }
        }
        
    </script>
}