﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Загрузка услуг";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Загрузка услуг из файла</h2>
</div>

<div>
@*    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Укажите параметры обработки данных (дата расчетного периода)</div>
        <div>
            @(Html.Telerik().DatePicker()
                .Name("Period")                                   
                .Value(DateTime.Now))
        </div>
    </div>*@
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Укажите параметры обработки данных (компания)</div>
        <div>
            @(Html.Telerik().ComboBox()
                .Name("Company")
                .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 250px; font-size: 12px;" })
                .ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnLoadCompany"))
                .HighlightFirstMatch(true)                                   
            )
        </div>
    </div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold">  Шаг 2. </span> Загрузите файл </div>
        <div>
            @(Html.Telerik().Upload()
                .Name("attachments")
                .ClientEvents(p => {
                    p.OnComplete("OnCompleteRefreshGrid");
                    p.OnUpload("OnUploadFileUpload");                    
                })
                .Async(async => async.Save("_Import", "RawMaintenanceByUser"))
            )  
        </div>
    </div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 3. </span> Последовательно выполните команды</div>
        <div>
            <div style="display: inline-block">
                @Ajax.ActionLink("Обработать", "_Parse", "RawMaintenanceByUser", null, 
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnComplete = "OnCompleteRefreshGrid",
                        OnBegin = "OnBeginClearActionResult" }, 
                    new { @class = "t-button" })                                 
            </div>            
            <div style="display: inline-block">
                @Ajax.ActionLink("Загрузить", "_Load", "RawMaintenanceByUser", null, 
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnComplete = "OnCompleteRefreshGrid",
                        OnBegin = "OnBeginClearActionResult" }, 
                    new { @class = "t-button" })                                            
            </div>
        </div>
    </div>
</div>

<div id="action-result" style="margin-left: 10px; margin-bottom: 5px;"> </div>

<div>
    @(Html.Telerik().Grid<Core.Views.RawMaintenanceByUserView>()
        .Name("RawMaintenanceByUser")
        .DataKeys(p => p.Add(d => d.RawMaintenanceByUserId))
        .ToolBar(p =>
        {
            p.Template(
                @<text>
                    <div style="display:inline-block">
                        @item.InsertButton(GridButtonType.Text)
                    </div>                       
                </text>
            );
        })
        .DataBinding(b => b.Ajax()
            .Select("_Index", "RawMaintenanceByUser")
            .Insert("_CreateUpdate", "RawMaintenanceByUser")
            .Update("_CreateUpdate", "RawMaintenanceByUser")
            .Delete("_Delete", "RawMaintenanceByUser")
        )
        .Columns(p =>
        {                  
            p.Bound(c => c.RawLogin);
            p.Bound(c => c.RawCostCenter);
            p.Bound(c => c.RawMaintenance);
            p.Bound(c => c.RawSupportLevel);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(190);
        })        
        .ClientEvents(p =>
        {
            p.OnEdit("OnEditRawMaintenanceByUser");
            //p.OnRowSelected("OnRowSelectedLicense");
            //p.OnRowDataBound("OnRowDataBoundLicense");
        })
        .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
        //.Selectable()
    )
</div>

@section Scripts{    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"> 
        
        function OnChangeCompany() {
            $("#RawMaintenanceByUser").data("tGrid").rebind();
        }

        function OnLoadCompany() {
            $(this).data("tComboBox").fill(function () {
                $("#RawMaintenanceByUser").data("tGrid").rebind();
            });
        }

        function OnUploadFileUpload(e) {

            $('#action-result').html("");

            //var period = $('#Period').data('tDatePicker').value();
            //var date = period.getDate();
            //var month = (period.getMonth() + 1);
            //var year = period.getYear();            
            //e.data = ({ period: (date + '.' + month + '.' + year)});

            var companyId = $("#Company").data("tComboBox").value();
            e.data = ({ companyId: companyId });
        }

        function OnCompleteRefreshGrid() {
            var grid = $("#RawMaintenanceByUser").data("tGrid");
            grid.rebind();
        }

        function OnBeginClearActionResult() {
            $('#action-result').html("");
        }

        function OnEditRawMaintenanceByUser(e) {
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#CompanyStructureId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyStructureId'];
            });
            $(e.form).find('#MaintenanceId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MaintenanceId'];
            });
            $(e.form).find('#ComponentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ComponentId'];
            });
            $(e.form).find('#SoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareId'];
            });
            $(e.form).find('#SoftwareModuleId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareModuleId'];
            });
            $(e.form).find('#SupportLevelId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SupportLevelId'];
            });
            $(e.form).find('#CodeMonthFrom').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthFrom'];
            });
            $(e.form).find('#CodeMonthTo').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthTo'];
            });
        }
    </script>
}
