﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Настройки: Планировщик";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Настройки: Планировщик</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Models.ScheduledTask>()
        .Name("ScheduledTask")
        .DataKeys(p => p.Add(d => d.ScheduledTaskId))
        //.ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .ToolBar(p => p.Template(@<text>
            @item.InsertButton(GridButtonType.Text)
        </text>))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "ScheduledTask")
            .Insert("_CreateUpdate", "ScheduledTask")
            .Update("_CreateUpdate", "ScheduledTask")
            .Delete("_Delete", "ScheduledTask")           
        )
        .Columns(p =>
        {            
            p.Bound(c => c.Name);
            p.Bound(c => c.StartDate);
            p.Bound(c => c.Period);
            p.Bound(c => c.EndDate);
            p.Bound(c => c.IsActive);            
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200); 
        })        
        //.ClientEvents(p => p.OnEdit("onEdit"))    
        .Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable(p => p.Groups(g => g.Add(a => a.CompanyId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))                  
    )
</div>