﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Лицензии";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Лицензии</h2>
</div>

<input id="SelectedLicenseId" type="hidden" name="SelectedLicenseId" value="0" />

<div>
    @(Html.Telerik().Grid<Core.Views.LicenseView>()
        .Name("License")
        .DataKeys(p => p.Add(d => d.LicenseId))
        .ToolBar(p =>
        {
            p.Template(
                @<text>
                    <div style="display:inline-block">
                        @item.InsertButton(GridButtonType.Text)
                    </div>
                    <div style="display:inline-block">
                        @(Html.Telerik().Upload()
                            .Name("attachments")
                            .ClientEvents(u =>
                            {
                                u.OnUpload("OnUploadFile");
                                u.OnComplete("OnCompleteFileUpload");
                            })
                            .ShowFileList(false)
                            .Async(async => async.Save("UploadFile", "LicenseFile"))
                        )                               
                    </div>    
                </text>
            );
        })
        .DataBinding(b => b.Ajax()
            .Select("_Index", "License")
            .Insert("_CreateUpdate", "License")
            .Update("_CreateUpdate", "License")
            .Delete("_Delete", "License")
        )
        .Columns(p =>
        {
            p.Bound(c => c.LicenseId).Hidden();
            //p.Bound(c => c.LicenseId)
            //    .ClientTemplate(
            //        Html.ActionLink("<img src='/Images/Others/Attachment.gif' style='margin-top:5px; margin-left: 5px; border:0;' alt='Скачать' />", 
            //            "GetFile", "License",
            //            new { licenseId = "<#= LicenseId #>" },
            //            new { @class = "analyzeMe" + "<#= LicenseId #>" }).ToString()
            //    ).Filterable(false).Title("").Width(10);       
            p.Bound(c => c.Code);
            p.Bound(c => c.Name);
            p.Bound(c => c.Amount);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(190);
        })
        .DetailView(p => p.ClientTemplate(
            Html.Telerik().Grid<Core.Views.LicenseFileView>()
                .Name("LicenseFile_<#= LicenseId #>")
                .DataKeys(k => k.Add(a => a.LicenseFileId))                                           
                .DataBinding(b => {
                    b.Ajax().Select("_Index", "LicenseFile", new { licenseId = "<#= LicenseId #>" });
                    b.Ajax().Delete("_Delete", "LicenseFile");
                })
                .Columns(c =>
                {


                    c.Bound(b => b.LicenseFileId)
                        .ClientTemplate(
                            Html.ActionLink("<img src='/Images/Others/Attachment.gif' style='margin-top:5px; margin-left: 5px; border:0;' alt='Скачать' />",
                                "GetFile", "LicenseFile",
                                new { licenseFileId = "<#= LicenseFileId #>" },
                                //new { @class = "analyzeMe" + "<#= LicenseFileId #>" }
                                null).ToString()
                        ).Filterable(false).Title("").Width(10);   
                    //c.Bound(b => b.LicenseFileId)
                    //    .ClientTemplate(Html.ActionLink(, "GetFile", "LicenseFile", new { licenseFileId = "<#= LicenseFileId #>" }, null).ToString())
                    //    .Filterable(false).Title("Имя файла");                    
                    c.Bound(b => b.FileName);
                    c.Bound(b => b.FileType);
                    c.Command(b => b.Delete().ButtonType(GridButtonType.Text));
                })
                
                .ToHtmlString()
        ))
        .ClientEvents(p =>
        {
            p.OnEdit("OnEditLicense");
            p.OnRowSelected("OnRowSelectedLicense");
            //p.OnRowDataBound("OnRowDataBoundLicense");
        })
        .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
        .Selectable()
    )
</div>

@section Scripts{    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"> 

        //function ExpandFirstRow(grid, row) {
        //    if (grid.$rows().index(row) == 0) {
        //        grid.expandRow(row);
        //    }
        //}

        //function OnRowDataBoundLicense(e) {
        //    var grid = $(this).data('tGrid');
        //    ExpandFirstRow(grid, e.row);
        //    //var dataItem = e.dataItem;
        //    //if (!dataItem.IsFileAttached) {
        //    //    var className = ".analyzeMe" + dataItem.LicenseId;
        //    //    $(className).remove();
        //    //}          
        //}

        function OnRowSelectedLicense(e) {
            var grid = $("License").data("tGrid");
            var licenseId = e.row.cells[1].innerHTML;            
            $("#SelectedLicenseId").val(licenseId);
        }

        function OnEditLicense(e) {
            $(e.form).find('#ContractorId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ContractorId'];
            });
            $(e.form).find('#SoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareId'];
            });
        }

        function OnUploadFile(e) {            
            e.data = { licenseId: $("#SelectedLicenseId").val() };
        }

        function OnCompleteFileUpload() {
            var selectedLicenseId = $("#SelectedLicenseId").val();
            var gridId = "#LicenseFile_" + selectedLicenseId;
            var grid = $(gridId).data('tGrid');
            if (grid != null) {
                grid.rebind();
            }
        }
    </script>
}
