﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Загрузка сотрудников";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Загрузка сотрудников из ЕКС</h2>
</div>

<div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Последовательно выполните команды </div>                
        <div style="display: inline-block">
            @Ajax.ActionLink("Импортировать", "_Import", "RawEmployee", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", 
                                  OnComplete = "OnCompleteRefreshRawEmployee" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Обработать", "_Parse", "RawEmployee", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", 
                                  OnComplete = "OnCompleteRefreshRawEmployee" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Загрузить Подразделения", "_Load", "RawDepartment", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", 
                                  OnComplete = "OnCompleteRefreshRawEmployee" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Загрузить Сотрудников", "_Load", "RawEmployee", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", 
                                  OnComplete = "OnCompleteRefreshRawEmployee" }, 
                new { @class = "t-button" })                                 
        </div>
    </div>
</div>

<div id="action-result" style="margin-left: 10px; margin-bottom: 5px;"> </div>

<div>
    @(Html.Telerik().Grid<Core.Views.RawEmployeeView>()
            .Name("RawEmployee")
            .DataKeys(p => p.Add(d => d.RawEmployeeId))   
            .ToolBar(p => p.Template(@<text>
                @item.InsertButton(GridButtonType.Text)
            </text>))                    
            .DataBinding(b => b.Ajax()
                .Select("_Index", "RawEmployee")
                .Insert("_CreateUpdate", "RawEmployee")
                .Update("_CreateUpdate", "RawEmployee")
                .Delete("_Delete", "RawEmployee")
            )
            .Columns(p =>
            {                               
                p.Bound(c => c.RawFullname);
                p.Bound(c => c.EmployeeId);
                p.Command(c =>
                {
                    c.Edit().ButtonType(GridButtonType.Text);
                    c.Delete().ButtonType(GridButtonType.Text);
                }).Width(200);
            })
            .ClientEvents(p => {
                p.OnEdit("OnEditEmployee");
              //  p.OnDataBinding("OnDataBindingRawCostCenter");
            })            
            //
            .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
            .Filterable()
            .Sortable()
            .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts {
    <script type="text/javascript">
        function OnEditEmployee(e) {
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#EmployeeId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['EmployeeId'];
            });
            $(e.form).find('#CostCenterId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CostCenterId'];
            });
            $(e.form).find('#PositionId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['PositionId'];
            });
            $(e.form).find('#DepartmentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['DepartmentId'];
            });
        }

        function OnCompleteRefreshRawEmployee() {
            var grid = $('#RawEmployee').data('tGrid');            
            if (grid != null)
            {                
                grid.rebind();                
            }            
        }
    </script>
}
