﻿@model Core.Views.RawSystemView

<fieldset>
    <legend>Компьютер</legend>

    <div>
        @Html.HiddenFor(p => p.RawSystemId)
        @Html.HiddenFor(p => p.ResourceId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Netbios_Name0)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Netbios_Name0, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Netbios_Name0)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.Operating_System_Name_and0)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Operating_System_Name_and0, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Operating_System_Name_and0)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.User_Domain0)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.User_Domain0, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.User_Domain0)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.User_Name0)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.User_Name0, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.User_Name0)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.CompanyId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CompanyId)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.EmployeeId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.EmployeeId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.EmployeeId)
    </div> 

</fieldset>
