﻿@model Core.Models.ServiceLine

<fieldset>
    <legend>Сервисная линия</legend>

    <div>
        @Html.HiddenFor(p => p.ServiceLineId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Code)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Code, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Code)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(p => p.Name):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(p => p.Comment):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Comment, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Comment)
    </div>    

</fieldset>