﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Роли";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Роли</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.RoleView>()
        .Name("Role")
        .DataKeys(p => p.Add(d => d.RoleId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "Role")
            .Insert("_CreateUpdate", "Role")  
            .Update("_CreateUpdate", "Role")
            .Delete("_Delete", "Role")
        )
        .Columns(p =>
        {
            //p.Bound(c => c.RoleId).Hidden();
            p.Bound(c => c.Name);
            p.Bound(c=>c.SecAreaId);
            p.Bound(c=>c.GroupAD);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);  

        })        
        //.Groupable()
        .Filterable()
        //.Sortable(s => s.OrderBy(o => o.Add(a => a.Name).Ascending()).SortMode(GridSortMode.MultipleColumn))
        .Pageable(p => p.PageSize(20))
        .ClientEvents(p => p.OnEdit("OnEditRole"))  
        .Editable(p => p.Mode(GridEditMode.PopUp))
            /**/
           // .Resizable(resizing => resizing.Columns(true))
            //.Reorderable(r => r.Columns(true))            
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditRole(e) {
            $(e.form).find('#SecAreaId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SecAreaId'];
            });
        }
    </script>

}