﻿<article>
    <p>
        Добавление информации о лицензиях осуществляется в 2 этапа.
    </p>
    <p> 
        На первом этапе, по нажатию на кнопку "Создать новую запись", в справочник лицензий 
        добавляется общая информация. 
    </p>   
    <p>
        <span style="font-weight:bold">Рисунок 1.</span> Форма журнала лицензий <br />
        <img src="~/Images/HelpArticles/Article31.JPG" />  
    </p>      
    <p>
        <span style="font-weight:bold">Рисунок 2.</span> Форма ввода данных <br />
        <img src="~/Images/HelpArticles/Article32.JPG" />
    </p>      
    <p>
        На втором этапе к записи лицензии прикрепляется скан-образ договора/лицензии. 
        Для этого необходимо выбрать (кликнуть мышкой) строку, соответсвующую договору 
        (после выбора помечается зеленым цветом), и нажать кнопку "Загрузить..." <br />
        <span style="font-weight:bold; color:red;">ВНИМАНИЕ!!!</span> Если перед загрузкой 
        <strong>строка не выбрана</strong> выбираемый файл загружен не будет.
    </p>   
    <p>
        <span style="font-weight:bold">Рисунок 3.</span> Добавление файла договора <br />
        <img src="~/Images/HelpArticles/Article33.JPG" /> 
    </p>      
    <p>
        <span style="font-weight:bold">Рисунок 4.</span> Форма выбора файла <br />
        <img src="~/Images/HelpArticles/Article34.JPG" />
    </p>     
    <p>
        После успешной загрузки файла, в первом столбце соответствующей строки появляется "Скрепка".
        Просмотреть/Скачать/Открыть прикрепленный файл можно щелкнув по указанной иконке.
    </p>
</article>






@Html.Action("_GeneralActions", "HelpArticle", new { area = "Customer"})