﻿<article>
    <p>
        Для добавления информации по услуге указываем компанию, по которой ведется учет, 
        затем <span style="font-weight: bold; color: red;">выбрав объект учета</span> (подразделение или 
        сотрудник), нажимаем кнопку "Создать новую запись".
    </p>
    <p>
        <span style="font-weight:bold">Рисунок 1.</span> Иерархическая форма выбора объекта учета <br />
        <img src="~/Images/HelpArticles/Article11.jpg" />
    </p>        
    <p>
        <span style="font-weight:bold">Рисунок 2.</span> Форма ввода данных <br />
        <img src="~/Images/HelpArticles/Article12.jpg" />
    </p>        
</article>

@Html.Action("_GeneralActions", "HelpArticle", new { area = "Customer"})
