﻿<article>
    <p>
        <span style="font-weight:bold">Рисунок 1.</span>  <br />
        <img src="~/Images/HelpArticles/Article41.JPG" />  
    </p> 
    <p>
        <span style="font-weight:bold">Рисунок 2.</span>  <br />
        <img src="~/Images/HelpArticles/Article42.JPG" />  
    </p> 
</article>

@Html.Action("_GeneralActions", "HelpArticle", new { area = "Customer"})