﻿<article>
    <p>
        Загружаемый Excel файл должен соответствовать следующим требованиям:        
    </p>    
    <ol style="margin: 0px 20px;">
        <li>
            Первая строка файла данных содержит заголовки.
        </li>
        <li>
            Алгоритмом загрузки будут обрабатываться первые два столбца, первому соответствует код МВЗ, второму - наименование МВЗ.
        </li>
        <li>
            Страница на которой находятся данные по МВЗ должна иметь имя <span style="font-weight:bold">Лист1</span>.
        </li>        
    </ol>
    <p>
        <span style="font-weight:bold">Рисунок 1.</span>  <br />
        <img src="~/Images/HelpArticles/Article61.JPG" />
    </p>
</article>

@Html.Action("_GeneralActions", "HelpArticle", new { area = "Customer"})