﻿<article>
    <table>
        <tr>
            <td>
                <span style="font-weight:bold">Рисунок 1.</span> Общие данные о сотруднике  <br />
                <img src="~/Images/HelpArticles/Article51.JPG" /> 
            </td>
            <td>
                <span style="font-weight:bold">Рисунок 2.</span> Информация о компьютере <br />
                <img src="~/Images/HelpArticles/Article52.JPG" /> 
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight:bold">Рисунок 3.</span> Предоставляемые ИТ услуги  <br />
                <img src="~/Images/HelpArticles/Article53.JPG" />
            </td>
            <td>
                <span style="font-weight:bold">Рисунок 4.</span> Установленно программное обеспечение  <br />
                <img src="~/Images/HelpArticles/Article54.JPG" /> 
            </td>
        </tr>
    </table>
</article>

@Html.Action("_GeneralActions", "HelpArticle", new { area = "Customer"})