﻿<article>
    <p>
        Журнал учета услуг позволяет выполнять поиск, добавление, редактирование услуг по компании. Для более наглядного
        представления данных форма журнала предусматривает различные способы группировки информации - по услуге, по сотрудникам
        либо и по услуге, и по сотрудникам одновременно.
    </p>
    <p>
        <span style="font-weight:bold">Рисунок 1.</span> Форма журнала учета услуг (по умолчанию) <br />
        <img src="~/Images/HelpArticles/Article21.jpg" />
    </p> 
    
    <p>
        <span style="font-weight:bold">Рисунок 2.</span> Форма ввода данных <br />
        <img src="~/Images/HelpArticles/Article22.jpg" />
    </p>
    
</article>

@Html.Action("_GeneralActions", "HelpArticle", new { area = "Customer"})