﻿<div class="page-title">
    <h2> Общие элементы управления </h2>
</div>

<article>
    <h3>Сортировка значений.</h3>
    <p>    
        Для того чтобы выполнить сортировку значений в таблице по возрастанию, необходимо щелкнуть по заголовку 
        соответствующей колонки. При втором щелчке по тому же заголовку, будет выставлена сортировка по убыванию. 
        При третьем щелчке группировка будет снята.    
    </p>    
    <table>
        <tr>
            <td style="width: 200px;"><strong>Рисунок 1.</strong> Отсортированный по возрастанию список.</td>
            <td style="width: 200px;"><strong>Рисунок 2.</strong> Отсортированный по убыванию список.</td>
        </tr>
        <tr>
            <td><img src="~/Images/HelpArticles/Sorting1.jpg" /></td>
            <td><img src="~/Images/HelpArticles/Sorting2.jpg" /></td>
        </tr>
    </table>
</article>

<article>
    <h3>Фильтрация значений.</h3> 
    <p>
        Для выполнения фильтрации данных в табличных формах необходимо щелкнуть по пиктограмме "воронка" и в выпадающих формах
        (разные в зависимости от типа фильтрации) указать критерий фильтрации.
    </p>    
    <table>
        <tr>
            <td style="width: 200px;"><strong>Рисунок 1.</strong> Вид выпадающей формы для фильтрации строковых значений.</td>
            <td style="width: 200px;"><strong>Рисунок 2.</strong> Критерии отбора значений при фильтрации строковых значений.</td>
            <td style="width: 200px;"><strong>Рисунок 3.</strong> Вид выпадающей формы для фильтрации значений типа Дата.</td>
            <td style="width: 200px;"><strong>Рисунок 4.</strong> Критерии отбора значений при фильтрации значений Дата.</td>
        </tr>
        <tr>
            <td><img src="~/Images/HelpArticles/Filtering1.jpg" /></td>
            <td><img src="~/Images/HelpArticles/Filtering2.jpg" /></td>
            <td><img src="~/Images/HelpArticles/Filtering3.jpg" /></td>
            <td><img src="~/Images/HelpArticles/Filtering4.jpg" /></td>
        </tr>
    </table>      
</article>

<article>
    <h3>Группировка значений.</h3>         
    <div>
        <strong>Рисунок 1.</strong> Справочник с возможностью группировки.
        <img src="~/Images/HelpArticles/Grouping1.jpg" /> <br />
        <strong>Рисунок 2.</strong> Справочник с примененной группировкой.
        <img src="~/Images/HelpArticles/Grouping2.jpg" />
    </div>
</article>

<article>
    <h3>Подбор значения в выпадающих списках.</h3>     
    <strong>Рисунок 1.</strong> Отображение полного списка значений при нажатии кнопки подбора. <br/>    
    <strong>Рисунок 2.</strong> Автоматический подбор значений при вводе символа.                 
    <div>
        <img src="~/Images/HelpArticles/ComboBox3.jpg" />
        <img src="~/Images/HelpArticles/ComboBox2.jpg" />    
    </div>

</article>

<article>
    <h3>Ввод значения с плавающей точкой.</h3>
    <div>
        <img src="~/Images/HelpArticles/Currency1.jpg" />
        <img src="~/Images/HelpArticles/Currency2.jpg" />
        <img src="~/Images/HelpArticles/Currency3.jpg" />
    </div>
</article>

<article>
    <h3>Выбор даты</h3>
    <div>
        <img src="~/Images/HelpArticles/DateTime1.jpg" />
        <img src="~/Images/HelpArticles/DateTime2.jpg" />
        <img src="~/Images/HelpArticles/DateTime3.jpg" />
    </div>
</article>