﻿@model Core.Views.HelpArticleListView

<div id="help-collection">
    <div class="changes-items">
        @foreach (var item in Model.HelpArticles) 
        {
            <div class="changes-item">
                <div>               
                    @*<span class="changes-time"> @item.MakeDate.ToString("dd MMMM yyyy, hh:mm") </span>*@
                    <span class="changes-time"> @System.DateTime.Now.ToString("dd MMMM yyyy, hh:mm") </span>
                    <span class="changes-employee"> @Html.DisplayFor(modelItem => item.Employee.Fullname) </span>
                </div>
                <div class="changes-content"> 
                    @Html.ActionLink(item.Title, 
                        "Details", "HelpArticle", new { area = "Customer", helpArticleId = item.HelpArticleId }, null)                    
                </div>                
            </div>
                        
        }       
    </div>
    <div class="pager">
        @Ajax.StandartPager("_Index", "HelpArticle", Model.PagingInfo, "help-collection")            
    </div>    
</div>