﻿@model Core.Models.HelpArticle
@{
    ViewBag.Title = "Помощь";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>@Model.Title</h2>
</div>

@Html.Action("_Article", "HelpArticle", new { area = "Customer", helpArticleContent = Model.Content })