﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Подготовка данных";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Подготовка данных</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.ContractorSoftwareView>()
        .Name("ContractorSoftware")
        .DataKeys(p => p.Add(d => d.ContractorSoftwareId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "ContractorSoftware")
            .Insert("_CreateUpdate", "ContractorSoftware")  
            .Update("_CreateUpdate", "ContractorSoftware")
            .Delete("_Delete", "ContractorSoftware")
        )
        .Columns(p =>
        {
            p.Bound(c => c.ContractorSoftwareId).Hidden();
            p.Bound(c => c.OriginalContractorId);
            p.Bound(c => c.GeneralContractorId);
            p.Bound(c => c.OriginalSoftwareId);
            p.Bound(c => c.GeneralSoftwareId);
            p.Bound(c => c.SoftwareTypeId);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);  

        })
        .ClientEvents(p => p.OnEdit("OnEditContractorSoftware"))
        .Editable(p => p.Mode(GridEditMode.PopUp))  
        .Filterable()
        .Sortable()
        //.Sortable(s => s
        //    .SortMode(GridSortMode.MultipleColumn)
        //    .OrderBy(o =>
        //        {
        //        o.Add(a => a.ContractorSoftwareId).Ascending();
        //        o.Add(a => a.OriginalContractorId).Ascending();
        //        o.Add(a => a.GeneralContractorId).Ascending();
        //        o.Add(a => a.OriginalSoftwareId).Ascending();
        //        o.Add(a => a.GeneralSoftwareId).Ascending();
        //        o.Add(a => a.SoftwareTypeId).Ascending();                    
        //        }
        //     )   
        //    )
        .Pageable(p => p.PageSize(20))         
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditContractorSoftware(e) {
            $(e.form).find('#OriginalContractorId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['OriginalContractorId'];
            });

            $(e.form).find('#GeneralContractorId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['GeneralContractorId'];
            });

            $(e.form).find('#OriginalSoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['OriginalSoftwareId'];
            });

            $(e.form).find('#GeneralSoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['GeneralSoftwareId'];
            });

            $(e.form).find('#SoftwareTypeId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareTypeId'];
            });

        }
    </script>

}