﻿@model Core.Views.RawMaintenanceByUserView
@using Telerik.Web.Mvc.UI

<div style="margin-bottom: 5px;">
    @{Html.Telerik().TabStrip()
          .Name("TabStrip")
          .HtmlAttributes(new { style = "width: 450px;" })
          .Items(p => {
              p.Add()
                  .Text("Файл")
                  .Content(@<text> 
                    <div style="min-height: 350px;">                        
                        <div>
                            @Html.HiddenFor(c => c.RawMaintenanceByUserId)
                        </div>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.RawFIO)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.TextAreaFor(c => c.RawFIO, new { @class = "single-row-editor" })
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.RawFIO)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.RawLogin)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.TextAreaFor(c => c.RawLogin, new { @class = "single-row-editor" })
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.RawLogin)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.RawDepartment)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.TextAreaFor(c => c.RawDepartment, new { @class = "single-row-editor" })
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.RawDepartment)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.RawCostCenter)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.TextAreaFor(c => c.RawCostCenter, new { @class = "single-row-editor" })
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.RawCostCenter)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.RawMaintenance)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.TextAreaFor(c => c.RawMaintenance, new { @class = "single-row-editor" })
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.RawMaintenance)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.RawSupportLevel)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.TextAreaFor(c => c.RawSupportLevel, new { @class = "single-row-editor" })
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.RawSupportLevel)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.RawSoftware)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.TextAreaFor(c => c.RawSoftware, new { @class = "single-row-editor" })
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.RawSoftware)
                                    </div> 
                                </td>
                            </tr>
                        </table>
                    </div> </text>);
              p.Add()
                  .Text("База")
                  .Content(@<text> 
                    <div style="min-height: 350px;">                                                
                       <table>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.CompanyId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.CompanyId) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.CompanyId)
                                    </div>  
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.CompanyStructureId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.CompanyStructureId) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.CompanyStructureId)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.MaintenanceId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.MaintenanceId) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.MaintenanceId)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.ComponentId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.ComponentId) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.ComponentId)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.SoftwareId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.SoftwareId) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.SoftwareId)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.SoftwareModuleId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.SoftwareModuleId) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.SoftwareModuleId)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.SupportLevelId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.SupportLevelId) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.SupportLevelId)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.CodeMonthFrom)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.CodeMonthFrom) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.CodeMonthFrom)
                                    </div> 
                                </td>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.CodeMonthTo)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">                          
                                        @Html.EditorFor(c => c.CodeMonthTo) 
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.CodeMonthTo)
                                    </div> 
                                </td>
                            </tr>
                        </table>
                    </div> </text>);              
          })
          .SelectedIndex(0)
          .Render();          
    }
</div>