﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Услуги";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Услуги</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.MaintenanceView>()
        .Name("Maintenance")
        .DataKeys(p => p.Add(d => d.MaintenanceId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))        
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "Maintenance")
            .Insert("_CreateUpdate", "Maintenance")  
            .Update("_CreateUpdate", "Maintenance")
            .Delete("_Delete", "Maintenance")
        )
        .Columns(p => {
            p.Bound(c => c.ServiceLineId).Width(100);     
            p.Bound(c => c.Code);     
            p.Bound(c => c.Name);
            //p.Bound(c => c.ContainerAD);
            //p.Bound(c => c.Comment); 
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                     
        })
        .ClientEvents(p => p.OnEdit("OnEditMaintenance"))
        .Editable(p => p.Mode(GridEditMode.PopUp))
        .Groupable(p => p.Groups(g => g.Add(t => t.ServiceLineId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditMaintenance(e) {
            $(e.form).find('#ServiceLineId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ServiceLineId'];
            });           
        }
    </script>
}