﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Услуги компании";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Услуги компании</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.CompanyMaintenanceView>()
        .Name("CompanyMaintenance")
        .DataKeys(p => p.Add(d => d.CompanyMaintenanceId))
        .ToolBar(p => {
            p.Template(                
                @<text>
                    @item.InsertButton(GridButtonType.Text)
                     <div style="display:inline-block; margin: 2px 30px; vertical-align: middle; text-align: right;">
                         <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                            Компания:    
                         </div>
                         <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                             @(Html.Telerik().ComboBox()
                                   .Name("Companies")
                                   .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                                   .AutoFill(true)
                                   .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                                   .HtmlAttributes(new { style = "width: 250px;" })
                                   .ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnLoadCompany"))
                                   .HighlightFirstMatch(true)                                   
                             )
                        </div>
                     </div>                    
                </text>
            );
        })
        .Columns(p => {
            p.Bound(c => c.ServiceLineName);                        
            p.Bound(c => c.MaintenanceCode);
            p.Bound(c => c.MaintenanceId);            
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                     
        })
        .ClientEvents(p => {
            p.OnEdit("OnEditCompanyMaintenance");
            p.OnDataBinding("OnDataBindingCompanyMaintenance");
        })
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "CompanyMaintenance")
            .Insert("_CreateUpdate", "CompanyMaintenance")  
            .Update("_CreateUpdate", "CompanyMaintenance")
            .Delete("_Delete", "CompanyMaintenance")
        )        
        .Editable(p => p.Mode(GridEditMode.PopUp))
        .Groupable(p => p.Groups(g => g.Add(a => a.ServiceLineName)))
        .Filterable()
        .Sortable(p => p.OrderBy(o => o.Add(a => a.MaintenanceCode)))
        .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditCompanyMaintenance(e) {
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#MaintenanceId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MaintenanceId'];
            });
        }

        function OnDataBindingCompanyMaintenance(args) {
            if ($("#Companies").val() != '') {
                var companyId = $("#Companies").data("tComboBox").value();
                args.data = $.extend(args.data, { companyId: companyId });
            }
        }

        function OnChangeCompany() {
            $("#CompanyMaintenance").data("tGrid").rebind();
        }

        function OnLoadCompany() {            
            $(this).data("tComboBox").fill(function () {
                $("#CompanyMaintenance").data("tGrid").rebind();
            });            
        }

    </script>
}

