﻿@model Core.Views.MaintenanceView

<fieldset>
    <legend>Услуга</legend>

    <div>
        @Html.HiddenFor(p => p.MaintenanceId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.ServiceLineId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.ServiceLineId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.ServiceLineId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(p => p.Code):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Code, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Code)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Name):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Is24Hours):
        @Html.CheckBoxFor(p => p.Is24Hours)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Is24Hours)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.ContainerAD):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.ContainerAD, new { @class = "two-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.ContainerAD)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(p => p.Comment):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Comment, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Comment)
    </div>    

</fieldset>