﻿@model Core.Views.RawCostCenterView


<fieldset>
    <legend>Запись по МВЗ</legend>

    <div>
        @Html.HiddenFor(p => p.RawCostCenterId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">                 
        @Html.EditorFor(p => p.CompanyId)  
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CompanyId)
    </div>  

    <div class="editor-label">
        @Html.LabelFor(p => p.ExcelCode)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">                 
        @Html.TextAreaFor(p => p.ExcelCode, new { @class = "single-row-editor" })  
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.ExcelCode)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.ExcelName)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">                 
        @Html.TextAreaFor(p => p.ExcelName, new { @class = "single-row-editor" })  
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.ExcelName)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.CostCenterId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">                 
        @Html.EditorFor(p => p.CostCenterId)  
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CostCenterId)
    </div> 

</fieldset>
