﻿@model Core.Models.EmployeeProfile
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Профиль";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Профиль пользователя</h2>
</div>

<div style="margin:5px 250px; padding: 10px 18px; border: 1px solid #c3c3c3; border-style: inset; background-color: #f5f5f5;">
    @using (Html.BeginForm()) {
        
        <div>
            @Html.HiddenFor(p => p.EmployeeProfileId)
            @Html.HiddenFor(p => p.EmployeeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(p => p.Company):
        </div>
        <div class="editor-field">
            @Html.EditorFor(p => p.Company)   
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(p => p.Company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(p => p.Period):
        </div>
        <div class="editor-field">
            @Html.EditorFor(p => p.Period)   
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(p => p.Period)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(p => p.IsDisplayActiveOnly): @Html.EditorFor(p => p.IsDisplayActiveOnly)   
        </div>@*
        <div class="editor-field">
            @Html.EditorFor(p => p.IsDisplayActiveOnly)   
        </div>*@
        <div class="editor-validation">
            @Html.ValidationMessageFor(p => p.IsDisplayActiveOnly)
        </div>
        
        @*
   
        <div class="editor-label">
            @Html.LabelFor(p => p.IsDisplayInactive):
        </div>
        <div>
            @Html.CheckBoxFor(p => p.IsDisplayInactive)
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(p => p.IsDisplayInactive)
        </div>*@
                
        @*
        <div class="editor-field">
            @Html.CheckBoxFor(p => p.IsDisplayInactive)   
        </div>*@
        
        @*
        <div class="editor-validation">
            @Html.ValidationMessageFor(p => p.IsDisplayInactive)
        </div>*@
        
    @*    <div>
            <input id="IsDisplayInactive" type="checkbox" name="IsDisplayInactive" value="CheckBoxValue" />
        </div>      *@  
        
        <p style="text-align: center;">
            <input class="t-button" type="submit" value="Сохранить" />
        </p>    
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
