﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Настройки: Система";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Настройки: Система</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Models.SystemParameter>()
        .Name("SystemParameter")
        .DataKeys(p => p.Add(d => d.SystemParameterId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "SystemParameter")
            .Insert("_CreateUpdate", "SystemParameter")
            .Update("_CreateUpdate", "SystemParameter")
            .Delete("_Delete", "SystemParameter")           
        )
        .Columns(p =>
        {            
            p.Bound(c => c.Description);
            p.Bound(c => c.Name);
            p.Bound(c => c.Value);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200); 
        })        
        //.ClientEvents(p => p.OnEdit("onEdit"))    
        .Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable(p => p.Groups(g => g.Add(a => a.CompanyId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))                  
    )
</div>