﻿@model Core.Views.EmployeeView
@using Telerik.Web.Mvc.UI

<div style="margin-bottom: 5px;">
    @{Html.Telerik().TabStrip()
          .Name("TabStrip")
          .HtmlAttributes(new { style = "width: 450px;" })
          .Items(p => {
              p.Add()
                  .Text("Данные")
                  .Content(@<text> 
                    <div style="min-height: 350px;">                        
                        <div>
                            @Html.HiddenFor(c => c.EmployeeId)
                            @Html.HiddenFor(c => c.IsActive)                            
                        </div>

                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.CompanyId)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(c => c.CompanyId)   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.CompanyId)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.Authid)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(c => c.Authid, new { @class = "single-row-editor" })   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.Authid)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.Surname):
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(c => c.Surname, new { @class = "single-row-editor" })   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.Surname)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.Firstname):
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(c => c.Firstname, new { @class = "single-row-editor" })   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.Firstname)
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.Middlename):
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(c => c.Middlename, new { @class = "single-row-editor" })   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.Middlename)
                                    </div>    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.Fullname)<span class="required-field">*</span>:
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(c => c.Fullname, new { @class = "single-row-editor" })   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.Fullname)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.PositionId):
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(c => c.PositionId)   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.PositionId)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.CostCenterId):
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(c => c.CostCenterId)   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.CostCenterId)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.DepartmentId):
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(c => c.DepartmentId)   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.DepartmentId)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="editor-label">
                                        @Html.LabelFor(c => c.DischargeDate):
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(c => c.DischargeDate)   
                                    </div>
                                    <div class="editor-validation">
                                        @Html.ValidationMessageFor(c => c.DischargeDate)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div> </text>);
              p.Add()
                  .Text("Система")
                  .Content(@<text> <div style="min-height: 350px;"> <div id="employee-system"> </div> </div> </text>);  
              p.Add()
                  .Text("Услуги")
                  .Content(@<text> <div style="min-height: 350px;"> <div id="employee-maintenance"> </div> </div> </text>);
              p.Add()
                  .Text("Программы")                  
                  .Content(@<text> <div style="min-height: 350px;"> <div id="employee-program"> </div> </div> </text>);
          })
          .SelectedIndex(0)
          .Render();          
    }
</div>

<script type="text/javascript">
    
    $('#Surname').focusout(function () {
        var fullname = $('#Surname').val() + ' ' + $('#Firstname').val() + ' ' + $('#Middlename').val();
        $('#Fullname').val(fullname);
    });

    $('#Firstname').focusout(function () {
        var fullname = $('#Surname').val() + ' ' + $('#Firstname').val() + ' ' + $('#Middlename').val();
        $('#Fullname').val(fullname);
    });

    $('#Middlename').focusout(function () {
        var fullname = $('#Surname').val() + ' ' + $('#Firstname').val() + ' ' + $('#Middlename').val();
        $('#Fullname').val(fullname);
    });

    //$('#Fullname').focusout(function () {
    //    var sFullname = $('#Fullname').val();
    //    sFullname = $.trim(sFullname);

    //    while (sFullname.indexOf('  ') >= 0) {
    //        sFullname = sFullname.replace('  ', ' ');
    //    }

    //    var aFullname = sFullname.split(' ');

    //    $('#Surname').val(aFullname[0]);
    //    $('#Firstname').val(aFullname[1]);
    //    $('#Middlename').val(aFullname[2]);
    //});
</script>