﻿@model IEnumerable<Core.Models.ComputerSystem>

<fieldset>
    <legend>Компьютерная система</legend>

    @foreach (var item in Model)
    {     
        <div style="margin: 3px 0px;">
            <div class="display-field">
                <strong> Имя компьютера: </strong> <br />
                @item.NetbiosName
            </div>
            <div class="display-field">
                <strong> Операционная система: </strong> <br />
                @item.OperatingSystem
            </div>        
        </div>
    }



</fieldset>
