﻿@model Core.Views.CostCenterView

<fieldset>
    <legend>МВЗ</legend>

    <div>
        @Html.HiddenFor(p => p.CostCenterId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.CompanyId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CompanyId)
    </div>    

    <div class="editor-label">
        @Html.LabelFor(p => p.Code)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Code, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Code)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Name)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Comment)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Comment, new { @class = "two-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Comment)
    </div>

</fieldset>
