﻿@model Core.Models.Position

<fieldset>
    <legend>Услуга</legend>

    <div>
        @Html.HiddenFor(p => p.PositionId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Name):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "two-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Comment):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Comment, new { @class = "two-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Comment)
    </div>

</fieldset>
