﻿/*fcfcfc*/ /*f5f5f5*/ /*e8e8e8*/ /*d5d5d5*/ /*c7c7c7*/

/*fcfcfc*/ /*f5f5f5*/ /*e8e8e8*/ /*d5d5d5*/ /*c7c7c7*/ /*c3c3c3*/ /*828282*/ /*1d1d1d*/

/*Document Structure (begin)*/
* { margin: 0; padding: 0; }

html {font-size: 14px; /*62.5%;*/font-family: Calibri, Arial, sans-serif; background-image: url('/Images/Background/bgr-html.png') }

body { margin: 0 auto; max-width: 983px;background-image: url('/Images/Background/bgr-shadow.png');background-repeat: repeat-y; }

#wrapper { margin: 0px 10px; max-width: 960px; /*background-color: #fff;*/ border-top: 7px solid #1d1d1d; 
    border-left: 1px solid #c3c3c3; border-right: 1px solid #c3c3c3;color: #1d1d1d; background-color: #fcfcfc; }

header { padding: 0px 30px;line-height: 70px; }
.header-content { display: inline-block; vertical-align: middle; line-height: normal; }

ul.main-menu, ul.main-menu ul { list-style:none;margin:0;padding:0;line-height: 35px; background-color: #f5f5f5; }
ul.main-menu { height:35px;border:1px solid #c3c3c3; }
ul.main-menu li { float:left;position:relative; }
ul.main-menu li:hover { background-color:#c3c3c3; }
ul.main-menu ul { position:absolute;z-index: 100;left:-1px;top:35px;border:1px solid #c3c3c3;border-bottom:0;
    border-top:0;display:none; }
ul.main-menu li:hover ul { display:block; }
ul.main-menu a { display:block; /*width: 150px;*/ padding:0 15px;color:#1d1d1d; text-decoration:none;
    border-right:1px solid #c3c3c3;text-align:center;cursor: pointer; }
ul.main-menu a:hover { color:#1d1d1d;background-color:#CCCCCC; }
ul.main-menu ul a { border:0;border-bottom:1px solid #c3c3c3;width: 165px;text-align: left;line-height: 33px;cursor: pointer; }

.content-body { margin: 10px; min-height: 700px; }

footer { border: 1px solid #c3c3c3;padding: 5px 10px; background-color: #1d1d1d;color: #828282; }
footer a { text-decoration: none;color: #828282; }
.footer-title { text-align: center; border-bottom: 1px solid #828282;margin-bottom: 5px;padding-bottom: 5px; }
.copyright { display: block; border-top: 1px solid #828282; margin-top: 5px; padding-top: 5px;font-size: 13px; }
ul.links li { display: inline-block; border-right: 1px solid #828282; padding: 0 20px; }
ul.links .sub-title { text-align: center; }
ul.items li { display: block; border:none; padding: 0; }
ul.items li a { text-decoration: none; color: #828282;font-size: 13px; }
ul.items li a:hover { color: #fcfcfc; }

/*Document Structure (end)*/

/*General elements (begin)*/
h1, h2, h3, h4, h5 { font-family: "PT Serif", Georgia, "Times New Roman", Times, serif; font-weight:normal; 
    color: #2a326b; margin-top: 5px; }
p { margin-top: 5px; }
article { margin: 3px 0px; }

.page-title { text-align: center;margin: 10px 0px 5px 0px; }

.float-left { float: left; }
.float-right { float: right; }
.clear-float { clear: both; }

fieldset { padding: 10px; padding-top: 5px; margin-bottom: 10px; }
legend { font-weight: bold; }

.half-row-editor { font-family: Calibri, Arial, sans-serif; font-size: 14px; width: 195px; height: 18px; overflow: hidden; border: 1px solid #828282; padding: 2px 1px; }
.single-row-editor { font-family: Calibri, Arial, sans-serif; font-size: 14px; width: 400px; height: 18px; overflow: hidden; border: 1px solid #828282; padding: 2px 1px; }
.two-row-editor { font-family: Calibri, Arial, sans-serif; font-size: 14px; width: 400px; height: 36px; overflow: hidden; border: 1px solid #828282; padding: 2px 1px; }
.editor-field { font-size: 13px; }
.editor-validation { color: red; }
.required-field { color: red; /*content: "*";*/ }
.standart-combobox { width: 400px;  }
.codemonth-combobox { width: 195px;  }
.half-standart-combobox { width: 195px;  }
.note { font-style: italic; font-size: 12px; margin: 5px 10px; }
.note-asterisk { color: red; }
/*General elements (end)*/

/*.telerik-table { background-color: #fff;border: 1px solid #c3c3c3; }*/
/*style = "width: 400px; border:1px solid #C6D9EC;"*/

/*tab begin*/
.tabs { /*width: 330px;*/ /*margin: 0px auto;*/ }
ul.tabs-title { margin: 0; padding: 0; float: left; list-style: none; height: 32px; border-bottom: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; width: 100%;  }
ul.tabs-title li { float: left; margin: 0; padding: 0; height: 31px; line-height: 31px; border: 1px solid #dbdbdb; border-left: none; margin-bottom: -1px; 
             background: #f5f5f5; overflow: hidden; position: relative; color: #989898; }
ul.tabs-title li a { text-decoration: none; color: #000; display: block; font-size: 14px; padding: 0 10px; border: 1px solid #fff; outline: none;  }
ul.tabs-title li a:hover { background: #fff; color: #ba0000; }
html ul.tabs-title li.active, html ul.tabs-title li.active a:hover { background: #fff; border-bottom: 1px solid #fff; color: #ba0000;  }
.tabs-container { border: 1px solid #dbdbdb; border-top: none; clear: both; float: left; width: 100%; background: #fff; }
.tabs-content { padding: 10px; min-height: 210px; /*font-size: 1.2em;*/ }
/*tab end*/

/*Slideshow (begin)*/
#slide-show { position:relative; }
#slide-show DIV.slide-show-card { position: absolute; top: 0; left: 0; z-index: 8; }
#slide-show DIV.active-card { z-index: 10; }
#slide-show DIV.last-active-card { z-index: 9; }
/*Slideshow (end)*/

/*Change block (begin)*/
/*.changes { border: 1px solid #c7c7c7;border-top: 3px solid #ba0000; width: 330px; min-height: 550px;font-size: 14px;
           background-color: #fff; }*/
/*.changes-title { font-size: 16px;text-align: center;padding: 6px;background-color: #f5f5f5;color: #000;border-bottom: 1px solid #c7c7c7; }*/
.changes-items { padding: 5px 10px; }
.changes-time { font-size: 12px;color: #ba0000;  }
.changes-employee { font-size: 12px;color: #000; }
.changes-item { font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 6px 0px; border-bottom: 1px solid #c7c7c7; }
.changes-content { margin: 3px 0px; }
.changes-content a {color: #000; text-decoration: none; font-family: Calibri, Arial, sans-serif; }
.changes-content a:hover {color: #ba0000;text-decoration: underline; }

/*.changes-content a {color: #000; text-decoration: none; font-size: 14px;font-family: "PT Serif", Georgia, "Times New Roman", Times, serif; }
.changes-content a:hover {color: #ba0000;text-decoration: underline; }*/
/*Change block (end)*/

.maintenance-item, .software-item { font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 6px 0px; border-bottom: 1px solid #c7c7c7; font-size: 12px; }


/*Pagers (begin)*/
.pager { margin: 5px; }
.standart-pager { display:inline-block ;border: 1px solid #c7c7c7;background-color: #f5f5f5; text-decoration: none;
    padding: 1px 3px;margin: 0px 2px;color: #000; }
.standart-pager:hover { background-color: #fff;color: #ba0000; }
/*Pagers (end)*/