﻿@model Core.Views.TariffView

<fieldset>
    <legend>Тариф</legend>

    <div>
        @Html.HiddenFor(p => p.TariffId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.CompanyId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CompanyId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.MaintenanceId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.MaintenanceId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.MaintenanceId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.ComponentId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.ComponentId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.ComponentId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.SupportLevelId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.SupportLevelId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.SupportLevelId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.MeasureId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.MeasureId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.MeasureId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Price)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.Price)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Price)
    </div>

</fieldset>