﻿<!DOCTYPE html>
<html lang="ru">  
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @RenderSection("Meta", required: false)         
        @*  <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />*@
        <meta name="viewport" content="width=device-width" />

        @using Telerik.Web.Mvc.UI

        @(Html.Telerik().StyleSheetRegistrar()
              .DefaultGroup(group => group.Add("telerik.common.css")
                                         .Add("telerik.telerik.css").Combined(true).Compress(true)))        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>                                 
        <div id="wrapper">
            <header>
                @RenderSection("Header", required: false)                  
            </header> 
            <nav>
                @RenderSection("Menu", required: false)    
            </nav>            
            <div class="content-body">
                @RenderBody() 
            </div>            
            <footer>  
                @RenderSection("Footer", required: false)              
                <div class="copyright"> &copy; @DateTime.Now.Year ООО "ТБИнформ" 
                    (Разработчики: <a href="mailto:apblednykh@rosneft.ru"> Andrey P. Blednykh</a>,
                                   <a href="mailto:ayskladov@rosneft.ru"> Alexander Y. Skladov</a> ) </div>                                        
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Scripts/Site.js"></script>

        @RenderSection("scripts", required: false)
    </body>
    
    @(Html.Telerik().ScriptRegistrar().jQuery(false)
          .Globalization(true).DefaultGroup(group => group.Combined(true).Compress(true)))

</html>
