﻿@{
    ViewBag.Title = "Отказ в доступе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

@section Header {
    <div class="float-left">
        <div class="header-content">
          @*  <img src="~/Images/Logos/OrengurgneftLarge.png" />*@
        </div>
@*        <div class="header-content">
            <h1>Учет ИТ Услуг</h1>
        </div>*@
        
    </div>
    <div class="float-right">                    
        @User.Identity.Name!
    </div>
    <div class="clear-float" />  
}

<div style="text-align:center; padding: 150px 0px 0px 0px">
    <h2>У Вас недостаточно прав на доступ к данной странице!</h2>
</div>

@section Footer {
    <p align="right"><img src="~/Images/Logos/Rosneft.png"/></p>
}