﻿@model System.Web.Mvc.HandleErrorInfo
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";    
    ViewBag.Title = "Ошибка";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div style="text-align:center;">    
    <h2>An Unexpected HTTP ERROR occurred during the request...</h2>
</div>
<div>    
    Sorry, something went wrong... <br /> 
    Don't worry! A team of highly trained monkeys has been dispatched to deal with this situation. <br />
    If you see them, show them this information: <br />
    <b>Exception Type: </b> <br />
    @Model.Exception.GetType().Name <br />
    <b>Message: </b> <br />
    @Model.Exception.Message <br />
    <b>Inner Exception: </b> <br />
    @Model.Exception.InnerException <br />    
    <b>Source: </b> <br />
    @Model.Exception.Source <br />
    <b>Stack Trace: </b> <br />
    @Model.Exception.StackTrace <br />
    <b>Target Site: </b> <br />
    @Model.Exception.TargetSite <br />    
</div>