﻿@model Core.Views.ContractorSoftwareView

<fieldset>
    <legend>Подготовка данных</legend>

    <div>
        @Html.HiddenFor(p => p.ContractorSoftwareId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(p => p.OriginalContractorId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.OriginalContractorId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.OriginalContractorId)
    </div>    

    <div class="editor-label">
        @Html.LabelFor(p => p.GeneralContractorId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.GeneralContractorId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.GeneralContractorId)
    </div> 


    <div class="editor-label">
        @Html.LabelFor(p => p.OriginalSoftwareId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.OriginalSoftwareId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.OriginalSoftwareId)
    </div> 

    <div class="editor-label">
        @Html.LabelFor(p => p.GeneralSoftwareId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.GeneralSoftwareId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.GeneralSoftwareId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.SoftwareTypeId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.SoftwareTypeId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.SoftwareTypeId)
    </div>

</fieldset>