﻿@model Core.Views.SoftwareModuleView

<fieldset>
    <legend>Модуль ПО</legend>

    <div>
        @Html.HiddenFor(p => p.SoftwareModuleId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Code):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Code, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Code)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Name):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.SoftwareId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.SoftwareId)   
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.SoftwareId)
    </div>   

</fieldset>