﻿@model Core.Views.InstalledSoftwareListView

<div id="changes" class="changes">
    <div class="changes-items">
        @foreach (var item in Model.InstalledSoftwares) 
        {
            <div class="software-item">                            
                @item.Software                            
            </div>                        
        }       
    </div>
    <div class="pager">
        @Ajax.StandartPager("_Index", "InstalledSoftware", (int)ViewBag.EmployeeId, Model.PagingInfo, "changes")            
    </div>  
</div>