﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Загрузка ОС";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Загрузка ОС из MS SMS</h2>
</div>

<div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Последовательно выполните команды </div>                
        <div style="display: inline-block">
            @Ajax.ActionLink("Импортировать", "_Import", "RawSystem", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawSystem" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Обработать", "_Parse", "RawSystem", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawSystem" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Загрузить", "_Load", "RawSystem", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawSystem" }, 
                new { @class = "t-button" })                                 
        </div>
    </div>
</div>

<div id="action-result" style="margin-left: 10px; margin-bottom: 5px;"> </div>

<div>
    @(Html.Telerik().Grid<Core.Views.RawSystemView>()
            .Name("RawSystem")
            .DataKeys(p => p.Add(d => d.RawSystemId))   
            .ToolBar(p => p.Template(@<text>
                @item.InsertButton(GridButtonType.Text)
            </text>))                    
            .DataBinding(b => b.Ajax()
                .Select("_Index", "RawSystem")
                .Insert("_CreateUpdate", "RawSystem")
                .Update("_CreateUpdate", "RawSystem")
                .Delete("_Delete", "RawSystem")
            )
            .Columns(p =>
            {
                p.Bound(c => c.EmployeeId);
                p.Bound(c => c.User_Name0);
                p.Bound(c => c.Netbios_Name0);
                p.Bound(c => c.Operating_System_Name_and0);                
                p.Command(c =>
                {
                    c.Edit().ButtonType(GridButtonType.Text);
                    c.Delete().ButtonType(GridButtonType.Text);
                }).Width(200);
            })
            .ClientEvents(p => {
                p.OnEdit("OnEditRawSystem");              
            })            
            //
            .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
            .Filterable()
            .Sortable()
            .Pageable(p => p.PageSize(15))
    )
</div>

@section Scripts {
    <script type="text/javascript">
        function OnEditRawSystem(e) {            
            $(e.form).find('#EmployeeId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['EmployeeId'];
            });
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
        }

        function OnCompleteRefreshRawSystem() {
            var grid = $('#RawSystem').data('tGrid');
            if (grid != null) {
                grid.rebind();
            }
        }

        function OnBeginClearActionResult() {
            $('#action-result').html("");
        }

    </script>
}