﻿@model Core.Models.ScheduledTask

<fieldset>
    <legend>Роль</legend>

    <div>
        @Html.HiddenFor(p => p.ScheduledTaskId)
    </div>

    <table>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Name)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.StartDate)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.StartDate)
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.StartDate)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.EndDate)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.EndDate)
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.EndDate)
                </div>
            </td>
@*            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.Period)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Name, new { style = "font-family: Calibri, Arial, sans-serif; font-size: 14px; width: 150px; height: 17px; overflow: hidden; border: 1px solid #828282; padding: 2px 1px;"  })
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Period)
                </div>
            </td>*@
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.Period):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.Period)
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Period)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.IsActive):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.IsActive)
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.IsActive)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Action):
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Action, new { @class = "single-row-editor" })
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Action)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Comment):
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Comment, new { @class = "two-row-editor" })
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Comment)
                </div>
            </td>
        </tr>
    </table>
</fieldset>