﻿@model Core.Views.RoleView

<fieldset>
    <legend>Роль</legend>

    <div>
        @Html.HiddenFor(p => p.RoleId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Name)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.SecAreaId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.SecAreaId)
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.SecAreaId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.GroupAD)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.GroupAD, new { @class = "single-row-editor" })
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.GroupAD)
    </div>

</fieldset>
