﻿@{
    ViewBag.Title = "IT Management";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div style="height: 375px;">
    @Html.Action("SlideShow", "Picture", new { area = "Customer" })
</div>

<div style="height: 5px; border: 1px solid #c3c3c3; background-color: #e8e8e8; margin-top: 10px;">
    &nbsp
</div>

<table style="width: 100%">
    <tr>
        <td style="width: 50%; padding: 0px 0px; vertical-align: top;">
            <div class="page-title">
                <h2> События на портале </h2>
            </div>
            <div>
                @Html.Action("_Index", "LogAppEvent", new { area = "Customer" })
            </div>
        </td>
        <td style="width: 50%; padding: 0px 0px; vertical-align: top;">
            <div class="page-title">
                <h2> Работа на портале (справка) </h2>
            </div>
            <div>
                @Html.Action("_Index", "HelpArticle", new { area = "Customer" })                
            </div>
        </td>
    </tr>
</table>

@section Scripts{
    <script src="@Url.Content("~/Scripts/SlideShow.js")" type="text/javascript"></script>
}