﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Подразделения";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Подразделения</h2>
</div>

<table style="border: 1px solid gray; width: 100%">
    <tr>
        <td style="border: 1px solid gray;">
            <div style="display:inline-block; margin: 2px 30px; vertical-align: middle; text-align: right;">
                <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                    Компания:    
                </div>
                <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                    @(Html.Telerik().ComboBox()
                        .Name("Company")
                        .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                        .AutoFill(true)
                        .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                        .HtmlAttributes(new { style = "width: 300px;" })
                        .ClientEvents(e => 
                        {
                            e.OnDataBound("OnDataBoundCompany");
                            e.OnChange("OnChangeCompany");
                        })
                        .HighlightFirstMatch(true)
                    )
                </div>
            </div> 
        </td>
    </tr>
    <tr>
        <td style="width: 300px; vertical-align: top; border: 1px solid gray; padding: 5px;">    
        @*    <div style="padding: 5px; background-color: #d1d0d0; border-bottom: 1px solid gray">
                <button class="t-button">Добавить</button>
                <button class="t-button">Изменить</button>
                <button class="t-button">Удалить</button>
            </div>*@
            <div>
                @(Html.Telerik().TreeView()
                    .Name("Department")
                    .HtmlAttributes(new { style = "overflow-y: hidden;"})
                    .ExpandAll(true)
                    .DataBinding(p => p.Ajax().Select("_IndexHierarchy", "Department", new { area = "Customer" }))
                    .ClientEvents(p => 
                    {
                        //p.OnSelect("OnSelectMaintenanteObjectUnit");
                        p.OnDataBinding("OnDataBindingDepartment");                        
                    })
                )
            </div>
        </td>
    </tr>
</table>

@section Scripts{
    <script type="text/javascript">
        function OnDataBoundCompany() {
            $('#Department').data('tTreeView').ajaxRequest();
        }

        function OnChangeCompany() {
            $("#Department").data("tTreeView").ajaxRequest();
        }

        var firstDepartment = true;

        function OnDataBindingDepartment(e) {

            if (firstDepartment) {
                $("#Company").data("tComboBox").fill();
                e.preventDefault();
                firstDepartment = false;
                return false;
            }

            var companyId = $("#Company").data("tComboBox").value();
            e.data = { companyId: companyId };
        }
    </script>
}




