﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Подразделения (таблица)";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Подразделения (таблица)</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.DepartmentView>()
        .DataKeys(p => p.Add(d => d.DepartmentId))
        .Name("Department")
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "Department")
            .Insert("_CreateUpdate", "Department")  
            .Update("_CreateUpdate", "Department")
            .Delete("_Delete", "Department")
        )
        .Columns(p => {            
            p.Bound(c => c.CompanyId);
            p.Bound(c => c.ParentDepartmentId);
            p.Bound(c => c.CostCenterId);  
            p.Bound(c => c.Name);            
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            });                     
        })
        .ClientEvents(p => p.OnEdit("OnEditDepartment"))
        .Editable(p => p.Mode(GridEditMode.PopUp))
        .Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditDepartment(e) {
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#ParentDepartmentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ParentDepartmentId'];
            });
            $(e.form).find('#CostCenterId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CostCenterId'];
            });
        }
    </script>
}