﻿@model Core.Views.RawADMaintenanceView

<fieldset>
    <legend>Услуга компании</legend>

    <div>
        @Html.HiddenFor(p => p.RawADMaintenanceId)
    </div>

    <table>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.MaintenanceId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.MaintenanceId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.MaintenanceId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.RawAuthid)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.RawAuthid, new { @class = "single-row-editor" })        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.RawAuthid)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.EmployeeId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.EmployeeId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.EmployeeId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CompanyId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CompanyId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.CompanyStructureId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CompanyStructureId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CompanyStructureId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.ComponentId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.ComponentId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ComponentId)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.CodeMonthFrom)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CodeMonthFrom)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CodeMonthFrom)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.CodeMonthTo)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CodeMonthTo)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CodeMonthTo)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
