﻿@model Core.Views.MaintenanceOrderTableView

<fieldset>
    <legend>Услуга</legend>

    <div>
        @Html.HiddenFor(p => p.MaintenanceOrderId)          
    </div>

    <table>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CompanyId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CompanyId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.MaintenanceId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.MaintenanceId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.MaintenanceId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.CompanyStructureId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CompanyStructureId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CompanyStructureId)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.ComponentId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.ComponentId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ComponentId)
                </div>
            </td>
@*        </tr>
        <tr>*@
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.SupportLevelId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SupportLevelId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SupportLevelId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.TariffId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.TariffId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.TariffId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.SoftwareId):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SoftwareId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SoftwareId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.SoftwareModuleId):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SoftwareModuleId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SoftwareModuleId)
                </div> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.CodeMonthFrom):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CodeMonthFrom)   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CodeMonthFrom)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.CodeMonthTo):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CodeMonthTo)   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CodeMonthTo)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Total)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.Total)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Total)
                </div>
            </td>
        </tr>       
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Comment):
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Comment, new { @class = "two-row-editor" })   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Comment)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
