﻿@model Core.Views.MaintenanceOrderHierarchyView

<fieldset>
    <legend>Услуга</legend>

    <div>
        @Html.HiddenFor(p => p.MaintenanceOrderId) 
        @Html.HiddenFor(p => p.CompanyStructureId)       
    </div>
    
    <table>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CompanyId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CompanyId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.MaintenanceId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.MaintenanceId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.MaintenanceId)
                </div>   
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.ComponentId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.ComponentId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ComponentId)
                </div>
            </td>
@*        </tr>
        <tr>*@
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.SupportLevelId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SupportLevelId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SupportLevelId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.TariffId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.TariffId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.TariffId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.SoftwareId):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SoftwareId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SoftwareId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.SoftwareModuleId):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SoftwareModuleId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SoftwareModuleId)
                </div> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.CodeMonthFrom):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CodeMonthFrom)   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CodeMonthFrom)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.CodeMonthTo):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.CodeMonthTo)   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.CodeMonthTo)
                </div>
            </td>
        </tr>       
        <tr>
    @*        <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.DateFrom)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.DateFrom)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.DateFrom)
                </div>
            </td>*@
@*            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.DateTo)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.DateTo)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.DateTo)
                </div>
            </td>*@




            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Total)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.Total)        
                    @*@Html.TextAreaFor(p => p.Total)  *@
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Total)
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Comment):
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Comment, new { @class = "two-row-editor" })   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Comment)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
