﻿@model Core.Views.LicenseView
@using Telerik.Web.Mvc.UI

<fieldset>
    <legend>Лицензия</legend>

    <div>
        @Html.HiddenFor(p => p.LicenseId)
    </div>
    
    <table>
        <tr>
            <td colspan="3">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Code)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">                 
                    @Html.TextAreaFor(p => p.Code, new { style = "font-family: Calibri, Arial, sans-serif; font-size: 14px; width: 150px; height: 17px; overflow: hidden; border: 1px solid #828282; padding: 2px 1px;" })  
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Code)
                </div>                
            </td>     
            <td colspan="3">
                <div class="editor-label">
                    @Html.LabelFor(p => p.DateTo)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">                 
                    @Html.EditorFor(p => p.DateTo)  
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.DateTo)
                </div>                
            </td>                    
        </tr>
        <tr>
            <td colspan="6">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Name)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Name)
                </div>                 
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="editor-label">
                    @Html.LabelFor(p => p.ContractorId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.ContractorId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ContractorId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="editor-label">
                    @Html.LabelFor(p => p.SoftwareId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SoftwareId)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SoftwareId)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.Amount)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.Amount, new { style = "font-family: Calibri, Arial, sans-serif; font-size: 14px; width: 120px; height: 17px; overflow: hidden; border: 1px solid #828282; padding: 2px 1px;" })       
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.Amount)
                </div>                 
            </td>             
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.ContractNumber)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.ContractNumber, new { style = "font-family: Calibri, Arial, sans-serif; font-size: 14px; width: 120px; height: 17px; overflow: hidden; border: 1px solid #828282; padding: 2px 1px;" })                    
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ContractNumber)
                </div>                   
            </td>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.ContractDate)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.ContractDate)        
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ContractDate)
                </div>                 
            </td>
        </tr>
    </table>
</fieldset>   


