﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Загрузка услуг";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Загрузка услуг из AD</h2>
</div>

<div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Последовательно выполните команды </div>                
        <div style="display: inline-block">
            @Ajax.ActionLink("Импортировать", "_Import", "RawADMaintenance", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawADMaintenance" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Обработать", "_Parse", "RawADMaintenance", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawADMaintenance" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Загрузить", "_Load", "RawADMaintenance", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawADMaintenance" }, 
                new { @class = "t-button" })                                 
        </div>
    </div>
</div>

<div id="action-result" style="margin-left: 10px; margin-bottom: 5px;"> </div>

<div>
    @(Html.Telerik().Grid<Core.Views.RawADMaintenanceView>()
            .Name("RawADMaintenance")
            .DataKeys(p => p.Add(d => d.RawADMaintenanceId))   
            .ToolBar(p => p.Template(@<text>
                @item.InsertButton(GridButtonType.Text)
            </text>))                    
            .DataBinding(b => b.Ajax()
                .Select("_Index", "RawADMaintenance")
                .Insert("_CreateUpdate", "RawADMaintenance")
                .Update("_CreateUpdate", "RawADMaintenance")
                .Delete("_Delete", "RawADMaintenance")
            )
            .Columns(p =>
            {                               
                p.Bound(c => c.MaintenanceId);
                p.Bound(c => c.RawAuthid);
                p.Bound(c => c.EmployeeId);
                p.Command(c =>
                {
                    c.Edit().ButtonType(GridButtonType.Text);
                    c.Delete().ButtonType(GridButtonType.Text);
                }).Width(200);
            })
            .ClientEvents(p => {
                p.OnEdit("OnEditRawADMaintenance");
              //  p.OnDataBinding("OnDataBindingRawCostCenter");
            })            
            //
            .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
            .Filterable()
            .Sortable()
            .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts {
    <script type="text/javascript">
        function OnEditRawADMaintenance(e) {
            $(e.form).find('#MaintenanceId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MaintenanceId'];
            });
            $(e.form).find('#EmployeeId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['EmployeeId'];
            });
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#CompanyStructureId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyStructureId'];
            });
            $(e.form).find('#ComponentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ComponentId'];
            });
        }

        function OnCompleteRefreshRawADMaintenance() {
            var grid = $('#RawADMaintenance').data('tGrid');
            if (grid != null) {
                grid.rebind();
            }
        }

        function OnBeginClearActionResult() {
            $('#action-result').html("");
        }

    </script>
}