﻿@model IEnumerable<Core.Models.Software>
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: ПО";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Программное обеспечение</h2>
</div>

<div>
    @(Html.Telerik().Grid(Model)
        .Name("Software")
        .DataKeys(p => p.Add(d => d.SoftwareId))
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "Software")
        )
        .Columns(p => {
            p.Bound(c => c.Name);            
            p.Bound(c => c.Comment);
            //p.Bound(c => c.Intphone);
            //p.Bound(c => c.MobilePhone);
            //p.Command(c =>
            //{
            //    c.Edit().ButtonType(GridButtonType.Text);
            //    c.Delete().ButtonType(GridButtonType.Text);
            //});                     
        })
        //.ClientEvents(p => p.OnEdit("onEdit"))
        //.Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>