﻿@using Telerik.Web.Mvc.UI

<div>
    @(Html.Telerik().Grid<Core.Views.RawSAPMaintenanceView>()
            .Name("RawSAPMaintenanceView" + (string)ViewBag.Module)
            .DataKeys(p => p.Add(d => d.RawSAPMaintenanceId))  
            .ToolBar(p =>
            {
                //  p.Insert().ButtonType(GridButtonType.Text);                        
                p.Template(
                    @<text>
                        @item.InsertButton(GridButtonType.Text)
                    </text>
                );                         
            })            
                     
            .DataBinding(b => b.Ajax()
                .Select("_Index", "RawSAPMaintenance"/*, new { module = ViewBag.Module }*/)
                .Insert("_CreateUpdate", "RawSAPMaintenance")
                .Update("_CreateUpdate", "RawSAPMaintenance")
                .Delete("_Delete", "RawSAPMaintenance"/*, new { module = ViewBag.Module }*/)                
            )
            .Columns(p =>
            {
                p.Bound(c => c.RawSAPMaintenanceId).Hidden();
                //p.Bound(c => c.Period);
                p.Bound(c => c.RawLogin);
                p.Bound(c => c.RawFullname);
                //p.Bound(c => c.Module);
                p.Bound(c => c.CompanyStructureId);
                p.Command(c =>
                {
                    c.Edit().ButtonType(GridButtonType.Text);
                    c.Delete().ButtonType(GridButtonType.Text);
                }).Width(200);
            })
            .ClientEvents(p => p.OnEdit("OnEditRawSAPMaintenance"))
            .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
            .Filterable()
            .Sortable()
            .Pageable(p => p.PageSize(20))
    )
</div>