﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Услуги SAP";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Загрузка SAP услуг из файла</h2>
</div>

<div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Укажите параметры обработки данных (дата расчетного периода)</div>
        <div>
@*            @(Html.Telerik().DatePicker()
                .Name("Period")     
            //    .Format("dd.mm.yyyy")                           
                .Value(DateTime.Now))*@
            @(Html.Telerik().ComboBox()
                .Name("CodeMonth")
                .DataBinding(t => t.Ajax().Select("_CodeMonth", "Calendar", new { area = "" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 250px; font-size: 12px;" })
                //.ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnLoadCompany"))
                .ClientEvents(e => e.OnChange("OnChangePeriod").OnLoad("OnLoadPeriod"))
                .HighlightFirstMatch(true)                                   
            )
        </div>
    </div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold">  Шаг 2. </span> Загрузите файл </div>
        <div>
            @(Html.Telerik().Upload()
                .Name("attachments")
                .ClientEvents(p => {
                    p.OnComplete("OnCompleteRefreshGrid");
                    p.OnUpload("OnUploadFileUpload");                    
                })
                .Async(async => async.Save("_Import", "RawSAPMaintenance"))
            )  
        </div>
    </div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 3. </span> Последовательно выполните команды</div>
        <div>
            <div style="display: inline-block">
                @Ajax.ActionLink("Обработать", "_Parse", "RawSAPMaintenance", null, 
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnComplete = "OnCompleteRefreshGrid",
                        OnBegin = "OnBeginClearActionResult" }, 
                    new { @class = "t-button" })                                 
            </div>            
            <div style="display: inline-block">
                @Ajax.ActionLink("Загрузить", "_Load", "RawSAPMaintenance", null, 
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnComplete = "OnCompleteRefreshGrid",
                        OnBegin = "OnBeginClearActionResult" }, 
                    new { @class = "t-button" })                                            
            </div>
        </div>
    </div>
</div>

<div id="action-result" style="margin-left: 10px; margin-bottom: 5px;"> </div>

<div>
    @{Html.Telerik().TabStrip()
          .Name("TabStrip")
          .Items(p =>
          {
              p.Add()
                  .Text("Модуль US")                          
                  .Content(@<text> @Html.Action("_Grid", "RawSAPMaintenance", new { module = "US" }) </text>);
              p.Add()
                  .Text("Модуль HR")              
                  .Content(@<text> @Html.Action("_Grid", "RawSAPMaintenance", new { module = "HR" }) </text>);
              p.Add()
                  .Text("Модуль MDM")
                  .Content(@<text> @Html.Action("_Grid", "RawSAPMaintenance", new { module = "MDM" }) </text>);
          })
          .SelectedIndex(0)
          .Render();
    }
</div>

@section Scripts {
    <script type="text/javascript">
        function OnEditRawSAPMaintenance(e) {
            $(e.form).find('#CompanyStructureId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyStructureId'];
            });
            $(e.form).find('#MaintenanceId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MaintenanceId'];
            });
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#SoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareId'];
            });
            $(e.form).find('#ComponentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ComponentId'];
            });
            $(e.form).find('#CodeMonthFrom').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthFrom'];
            });
            $(e.form).find('#CodeMonthTo').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthTo'];
            });
        }

        function OnUploadFileUpload(e) {
            //var period = $('#Period').data('tDatePicker').value();            
            //var date = period.getDate();
            //var month = (period.getMonth() + 1);
            //var year = period.getYear();
            //e.data = ({ period: (date+'.'+month+'.'+year) });

            var period = $('#CodeMonth').data('tComboBox').value();
            e.data = ({ period: period });
        }

        function OnCompleteRefreshGrid() {
            var gridUS = $('#RawSAPMaintenanceViewUS').data('tGrid');
            var gridHR = $('#RawSAPMaintenanceViewHR').data('tGrid');
            var gridMDM = $('#RawSAPMaintenanceViewMDM').data('tGrid');
            if (gridUS != null && gridHR != null && gridMDM != null)
            {
                gridUS.rebind();
                gridHR.rebind();
                gridMDM.rebind();
            }            
        }

        function OnBeginClearActionResult() {
            $('#action-result').html("");
        }

        function OnLoadPeriod() {
            $(this).data("tComboBox").fill(function () {
                $("#RawSAPMaintenanceViewUS").data("tGrid").rebind();
                $("#RawSAPMaintenanceViewHR").data("tGrid").rebind();
                $("#RawSAPMaintenanceViewMDM").data("tGrid").rebind();
            });
        }

        function OnChangePeriod() {
            $("#RawSAPMaintenanceViewUS").data("tGrid").rebind();
            $("#RawSAPMaintenanceViewHR").data("tGrid").rebind();
            $("#RawSAPMaintenanceViewMDM").data("tGrid").rebind();
        }
    </script>
}