﻿@using Telerik.Web.Mvc.UI

<div>
    @(Html.Telerik().Grid<Core.Views.LogDataChangeView>()
        .Name("LogDataChange")
        .DataKeys(p => p.Add(d => d.LogDataChangeId))
            //.ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()
            .Select("AjaxIndex", "LogDataChange", new { area = "Customer", logAppEventId = ViewBag.LogAppEventId })
            //.Insert("AjaxCreateUpdate", "Employee")  
            //.Update("AjaxCreateUpdate", "Employee")
            //.Delete("AjaxDelete", "Employee")
        )
        .Columns(p =>
        {            
            p.Bound(c => c.TargetTable);
            p.Bound(c => c.DML);
            p.Bound(c => c.Comment);            
            //p.Command(c =>
            //{
                //c.Edit().ButtonType(GridButtonType.Text);
                //c.Delete().ButtonType(GridButtonType.Text);
            //});
        })
        //.ClientEvents(p => p.OnEdit("onEdit"))
        //.Editable(p => p.Mode(GridEditMode.PopUp))
        .Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>



@*@model IEnumerable<Core.Models.LogDataChange>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogAppEventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetTable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DML)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LogAppEventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetTable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DML)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogDataChangeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogDataChangeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogDataChangeId })
        </td>
    </tr>
}

</table>*@
