﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Загрузка ПО";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Загрузка установленного ПО из MS SMS</h2>
</div>

<div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Последовательно выполните команды </div>                
        <div style="display: inline-block">
            @Ajax.ActionLink("Импортировать", "_Import", "RawInstalledSoftware", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawInstalledSoftware" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Обработать", "_Parse", "RawInstalledSoftware", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawInstalledSoftware" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Загрузить", "_Load", "RawInstalledSoftware", new { area = "" }, 
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "action-result", OnBegin = "OnBeginClearActionResult",
                                  OnComplete = "OnCompleteRefreshRawInstalledSoftware" }, 
                new { @class = "t-button" })                                 
        </div>
    </div>
</div>

<div id="action-result" style="margin-left: 10px; margin-bottom: 5px;"> </div>

<div>
    @(Html.Telerik().Grid<Core.Views.RawInstalledSoftwareView>()
            .Name("RawInstalledSoftware")
            .DataKeys(p => p.Add(d => d.RawInstalledSoftwareId))   
            .ToolBar(p => p.Template(@<text>
                @item.InsertButton(GridButtonType.Text)
            </text>))                    
            .DataBinding(b => b.Ajax()
                .Select("_Index", "RawInstalledSoftware")
                .Insert("_CreateUpdate", "RawInstalledSoftware")
                .Update("_CreateUpdate", "RawInstalledSoftware")
                .Delete("_Delete", "RawInstalledSoftware")
            )
            .Columns(p =>
            {
                p.Bound(c => c.InstallDate00);
                p.Bound(c => c.ProductName00);
                p.Bound(c => c.Publisher00);                
                p.Command(c =>
                {
                    c.Edit().ButtonType(GridButtonType.Text);
                    c.Delete().ButtonType(GridButtonType.Text);
                }).Width(200);
            })
            .ClientEvents(p => {
                p.OnEdit("OnEditRawInstalledSoftware");              
            })            
            //
            .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
            .Filterable()
            .Sortable()
            .Pageable(p => p.PageSize(15))
    )
</div>

@section Scripts {
    <script type="text/javascript">
        function OnEditRawInstalledSoftware(e) {
            $(e.form).find('#SoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareId'];
            });
            $(e.form).find('#ContractorId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ContractorId'];
            });
        }

        function OnCompleteRefreshRawInstalledSoftware() {
            var grid = $('#RawInstalledSoftware').data('tGrid');
            if (grid != null) {
                grid.rebind();
            }
        }

        function OnBeginClearActionResult() {
            $('#action-result').html("");
        }

    </script>
}
