﻿@model Core.Views.RawInstalledSoftwareView

<fieldset>
    <legend>Компьютер</legend>

    <div>
        @Html.HiddenFor(p => p.RawInstalledSoftwareId)        
    </div>

    <table>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.InstallDate00)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.InstallDate00)   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.InstallDate00)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.InstanceKey)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.InstanceKey, new { @class = "half-row-editor" })   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.InstanceKey)
                </div> 
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.MachineId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.MachineId, new { @class = "half-row-editor" })   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.MachineId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.ProductName00)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.ProductName00, new { @class = "single-row-editor" })   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ProductName00)
                </div> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.ProductVersion00)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.ProductVersion00, new { @class = "half-row-editor" })   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ProductVersion00)
                </div> 
            </td>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(p => p.ServicePack00)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(p => p.ServicePack00, new { @class = "half-row-editor" })   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ServicePack00)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.ContractorId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.ContractorId)   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.ContractorId)
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.LabelFor(p => p.SoftwareId)<span class="required-field">*</span>:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(p => p.SoftwareId)   
                </div>
                <div class="editor-validation">
                    @Html.ValidationMessageFor(p => p.SoftwareId)
                </div> 
            </td>
        </tr>
    </table>

</fieldset>