﻿@model IEnumerable<Core.Models.Position>
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Должности";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Должности</h2>
</div>

<div>
    @(Html.Telerik().Grid(Model)
        .Name("Position")
        .ToolBar(p => p.Template(@<text>
            @item.InsertButton(GridButtonType.Text)
        </text>))
        .DataKeys(p => p.Add(d => d.PositionId))
        .DataBinding(p => {
            p.Ajax().Select("_Index", "Position");
            p.Ajax().Update("_CreateUpdate", "Position");
            p.Ajax().Insert("_CreateUpdate", "Position");
            p.Ajax().Delete("_Delete", "Position");
        })
        .Columns(p => {            
            p.Bound(c => c.Name);
            p.Bound(c => c.Comment);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                      
        })
        //.ClientEvents(p => p.OnEdit("onEdit"))
        .Editable(p => p.Mode(GridEditMode.PopUp))
        .Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>