﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Слайд-шоу";    
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Слайд-шоу</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.PictureView>()    
        .Name("Picture")            
        .ToolBar(p => {            
            p.Template(
                @<text>                    
                    <div style="display:inline-block">
                        @(Html.Telerik().Upload()
                            .Name("attachments")
                            .ClientEvents(u => u.OnComplete("OnCompleteFileUpload"))
                            .ShowFileList(false)                                                        
                            .Async(async => async.Save("_Upload", "Picture"))
                        )              
                    </div>    
                </text>
            );
        })                     
        .DataKeys(p => p.Add(d => d.PictureId))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "Picture")            
            .Delete("_Delete", "Picture")
        )
        .Columns(p =>
                {
                    p.Bound(c => c.PictureId).Hidden();
                    p.Bound(c => c.MakeDate).Format("{0:HH:mm:ss dd.MM.yyyy}");
                    p.Bound(c => c.FileName);
                    p.Bound(c => c.FileType);
                    p.Bound(c => c.FileName)                                            
                    .ClientTemplate(                                           
                        "<img width='94' height='38' title='<#= FileName #>' src="
                        + Url.Action("GetImage", "Picture", new { PictureId = "<#= PictureId #>" })
                        +" >"
                        )
                        .Title("Макет")
                        .HeaderHtmlAttributes(new { style = "text-align:center;" })
                        .Width(100)
                        .Filterable(false)
                        .Sortable(false);
                    p.Command(c => c.Delete().ButtonType(GridButtonType.Image)).Width(40);
                    
        })
        .Filterable()
        .Sortable(s => s.OrderBy(o => o.Add(a => a.MakeDate).Descending()).SortMode(GridSortMode.MultipleColumn))
        .Pageable(p => p.PageSize(20))
        .Editable(p => p.Mode(GridEditMode.PopUp).FormHtmlAttributes(new { enctype = "multipart/form-data" }))
      
    )
</div>

@section Scripts{
    <script type="text/javascript">
        function OnCompleteFileUpload() {
            var grid = $("#Picture").data('tGrid');
            grid.rebind();
        }
    </script>
}

