﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Контрагенты";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Контрагенты</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Models.Contractor>()
        .Name("ContractorIndex")
        .DataKeys(p => p.Add(d => d.ContractorId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "Contractor")
            .Insert("_CreateUpdate", "Contractor")  
            .Update("_CreateUpdate", "Contractor")
            .Delete("_Delete", "Contractor")
        )
        .Columns(p =>
        {
            p.Bound(c => c.ContractorId).Hidden();
            p.Bound(c => c.Name);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);  

        })        
        //.ClientEvents(p => p.OnEdit("onEdit"))    
        .Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable(p => p.Groups(g => g.Add(a => a.CompanyId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))                  
    )
</div>