﻿@model Core.Views.MaintenanceOrderListView

<div id="maintenance-collection">
    <div class="changes-items">
        @foreach (var item in Model.MaintenanceOrders) 
        {
            <div class="maintenance-item">                                
                @item.MaintenanceId                     
            </div>                               
        }   
    </div>
    <div class="pager">
        @Ajax.StandartPager("_Index", "MaintenanceOrder", (int)ViewBag.EmployeeId, Model.PagingInfo, "maintenance-collection")            
    </div>    
</div>