﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Журнал услуг";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Журнал услуг</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.MaintenanceOrderTableView>()
        .Name("MaintenanceOrderListView")
        .DataKeys(p => p.Add(d => d.MaintenanceOrderId))      
        .ToolBar(p => {
            p.Template(
                @<text>
                    @item.InsertButton(GridButtonType.Text)
                     <div style="display:inline-block; margin: 2px 30px; vertical-align: middle; text-align: right;">
                         <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                            Компания:    
                         </div>
                         <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                             @(Html.Telerik().ComboBox()
                                   .Name("Companies")
                                   .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                                   .AutoFill(true)
                                   .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                                   .HtmlAttributes(new { style = "width: 300px;" })
                                   .ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnComboBoxLoadCompany"))
                                   .HighlightFirstMatch(true)
                             )
                        </div>
                     </div>                    
                </text>
            );
        })                 
        .DataBinding(b => b.Ajax()
            .Select("_IndexTable", "MaintenanceOrder")
            .Insert("_CreateUpdateTable", "MaintenanceOrder")  
            .Update("_CreateUpdateTable", "MaintenanceOrder")
            .Delete("_DeleteTable", "MaintenanceOrder")
        )
        .Columns(p =>
        {            
            p.Bound(c => c.MaintenanceId);
            p.Bound(c => c.CompanyStructureId);
            //p.Bound(c => c.DateFrom);
            //p.Bound(c => c.DateTo);            
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(190);
        })
        .ClientEvents(p => {
            p.OnEdit("OnEditMaintenanceOrder");
            p.OnDataBinding("OnDataBindingMaintenanceOrder");
            //p.OnRowSelect("OnRowSelectMaintenanceCalcUnit");               
        })
        .Editable(p => p.Mode(GridEditMode.PopUp))
        //.Selectable()
        .Groupable(p => p.Groups(g => g.Add(a => a.MaintenanceId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))        
    )
</div>

@section Scripts{
    <script type="text/javascript">

        function OnEditMaintenanceOrder(e) {

            $.ajax({
                url: '/Customer/Tariff/_ClearSession',
                type: 'POST'
            });

            $(e.form).find('#MaintenanceId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MaintenanceId'];
            });
            $(e.form).find('#CompanyStructureId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyStructureId'];
            });
            $(e.form).find('#TariffId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['TariffId'];
            });
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            if (e.dataItem['ComponentId'] != '') {                
                $(e.form).find('#ComponentId').data('tComboBox').select(function (dataItem) {
                    return dataItem.Text == e.dataItem['ComponentId'];
                });
            }
            else {                
                $(e.form).find('#ComponentId').data('tComboBox').select(function (dataItem) {
                    return dataItem.Text == 'ACC';
                });
            }            
            $(e.form).find('#SoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareId'];
            });
            $(e.form).find('#SoftwareModuleId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareModuleId'];
            });
            $(e.form).find('#SupportLevelId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SupportLevelId'];
            });
            $(e.form).find('#CodeMonthFrom').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthFrom'];
            });
            $(e.form).find('#CodeMonthTo').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthTo'];
            });
        };

        function OnDataBindingMaintenanceOrder(args) {
            if ($("#Companies").val() != '') {
                var companyId = $("#Companies").data("tComboBox").value();
                args.data = $.extend(args.data, { companyId: companyId });
            }
        }

        function OnChangeCompany() {
            $("#MaintenanceOrderListView").data("tGrid").rebind();
        }

        function OnComboBoxLoadCompany() {
            $(this).data("tComboBox").fill(function () {
                $("#MaintenanceOrderListView").data("tGrid").rebind();
            });
        }
        
        function OnCloseTariff(e) {
            var value = $('#TariffId').val();
            $.ajax({
                url: '/Customer/Tariff/GetPrice?id=' + value,
                type: 'POST'
            }).success(function (data) {
                $('#Total').data('tTextBox').value(data);
            }).fail(function () {
                alert('При выборке цены произошла ошибка');
            });
        }

    </script>
}