﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Ввод данных";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
}

<div class="page-title">
    <h2>Ввод данных</h2>
</div>

<table style="border: 1px solid gray;">
    <tr>
        <td colspan="2" style="border: 1px solid gray;">
            <div style="display:inline-block; margin: 2px 30px; vertical-align: middle; text-align: right;">
                <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                    Компания:    
                </div>
                <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                    @(Html.Telerik().ComboBox()
                        .Name("Companies")
                        .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                        .AutoFill(true)
                        .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                        .HtmlAttributes(new { style = "width: 300px;" })
                        .ClientEvents(e => 
                        {                                                                              
                            e.OnDataBound("OnDataBoundCompanies");
                            e.OnChange("OnChangeCompanies");
                        })
                        .HighlightFirstMatch(true)
                    )
                </div>
            </div> 
        </td>
    </tr>
    <tr>
        <td style="width: 300px; vertical-align: top; border: 1px solid gray; padding: 5px;">    
            @(Html.Telerik().TreeView()
                .Name("CompanyStructureTreeView")
                .ExpandAll(true)                                                          
                .HtmlAttributes(new { style="width:300px; overflow-y: hidden;"})
                .DataBinding(p => p.Ajax().Select("_Index", "CompanyStructure", new { area = "Customer" }))
                .ClientEvents(p => 
                {
                    p.OnSelect("OnSelectCompanyStructure");
                    p.OnDataBinding("OnDataBindingCompanyStructure");                        
                })
            )
        </td>
        <td style="width: 100%; vertical-align: top; border: 1px solid gray; padding: 5px;">
                @(Html.Telerik().Grid<Core.Views.MaintenanceOrderHierarchyView>()
                    .Name("MaintenanceOrderHierarchyView")                    
                    .DataKeys(p => p.Add(d => d.MaintenanceOrderId))
                    .ToolBar(p =>
                    {                      
                        p.Template(
                            @<text>
                                @item.InsertButton(GridButtonType.Text)                                       
                            </text>
                        );                        
                    })
                    .DataBinding(b => b.Ajax()
                        .Select("_IndexHierarchy", "MaintenanceOrder")
                        .Insert("_CreateUpdateHierarchy", "MaintenanceOrder")  
                        .Update("_CreateUpdateHierarchy", "MaintenanceOrder")
                        .Delete("_DeleteHierarchy", "MaintenanceOrder")
                    )
                    .Columns(p =>
                    {                        
                        p.Bound(c => c.MaintenanceId);                        
                        //p.Bound(c => c.DateFrom);
                        //p.Bound(c => c.DateTo);                     
                        p.Command(c =>
                        {
                            c.Edit().ButtonType(GridButtonType.Text);
                            c.Delete().ButtonType(GridButtonType.Text);
                        }).Width(190);
                    })
                    .ClientEvents(p => {
                        p.OnEdit("OnEditMaintenanceOrder");
                        p.OnDataBinding("OnDataBindingMaintenanceOrder");                        
                    })
                    .Editable(p => p.Mode(GridEditMode.PopUp))                    
                    .Filterable()
                    .Sortable()
                    .Pageable(p => p.PageSize(20))        
                )
        </td>
    </tr>
</table>

@section Scripts{
    <script type="text/javascript">
        
        function OnDataBoundCompanies() {
            $('#CompanyStructureTreeView').data('tTreeView').ajaxRequest();
        }

        function OnChangeCompanies() {
            $("#CompanyStructureTreeView").data("tTreeView").ajaxRequest();
        }

        function OnSelectCompanyStructure(e) {

            $.ajax({
                url: '/Customer/Tariff/_ClearSession',
                type: 'POST'
            });

            var treeView = $('#CompanyStructureTreeView').data('tTreeView');
            var objectId = treeView.getItemValue(e.item);

            $(e.form).find('#CompanyStructureId').val(objectId);
            $('#MaintenanceOrderHierarchyView').data('tGrid').rebind({ companyStructureId: objectId });
        }

        var firstCompanyStructure = true;

        function OnDataBindingCompanyStructure(e) {

            if (firstCompanyStructure) {
                $("#Companies").data("tComboBox").fill();
                e.preventDefault();
                firstCompanyStructure = false;
                return false;
            }

            var companyId = $("#Companies").data("tComboBox").value();
            e.data = { companyId: companyId };
        }
        
        function OnEditMaintenanceOrder(e) {
            
            var treeView = $('#CompanyStructureTreeView');
            var selectedItem = treeView.find('.t-state-selected').closest('.t-item');
            var selectedValue = treeView.data('tTreeView').getItemValue(selectedItem);

            if (selectedValue == '') {
                alert('Выберите объект учета в дереве!');
                //return false;
                //e.Canceled = true;
                //e.item.Edit = false;
                //e.preventDefault();                
                e.stopImmediatePropagation();
                return false;
            }
            else {
                $(e.form).find('#CompanyStructureId').val(selectedValue);
            }

            $(e.form).find('#MaintenanceId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MaintenanceId'];
            });
            $(e.form).find('#TariffId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['TariffId'];
            });
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#ComponentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ComponentId'];
            });
            $(e.form).find('#SoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareId'];
            });
            $(e.form).find('#SoftwareModuleId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareModuleId'];
            });
            $(e.form).find('#SupportLevelId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SupportLevelId'];
            });
            $(e.form).find('#CodeMonthFrom').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthFrom'];
            });
            $(e.form).find('#CodeMonthTo').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CodeMonthTo'];
            });
        }

        var firstMaintenanceOrder = true;

        function OnDataBindingMaintenanceOrder(e) {
            if (firstMaintenanceOrder) {
                e.preventDefault();
                firstMaintenanceOrder = false;
                return false;
            }
        }

        function OnCloseTariff(e) {
            var value = $('#TariffId').val();
            $.ajax({
                url: '/Customer/Tariff/GetPrice?id=' + value,
                type: 'POST'
            }).success(function(data) {
                $('#Total').data('tTextBox').value(data);
            }).fail(function () {
                alert('При выборке цены произошла ошибка');
            });
        }

    </script>
}