﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Сервисные линии";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Сервисные линии</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Models.ServiceLine>()
        .Name("ServiceLine")
        .DataKeys(p => p.Add(d => d.ServiceLineId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "ServiceLine")
            .Insert("_CreateUpdate", "ServiceLine")  
            .Update("_CreateUpdate", "ServiceLine")
            .Delete("_Delete", "ServiceLine")
        )
        .Columns(p =>
        {
            p.Bound(c => c.Code).Width(100);
            p.Bound(c => c.Name);                   
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);
        })
        //.ClientEvents(p => p.OnEdit("onEdit"))
        .Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))        
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

}

