﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Meta { @RenderSection("Meta", required: false) }

@section Header {
    <div class="float-left">
        <div class="header-content">
          @*  <img src="~/Images/Logos/OrengurgneftLarge.png" />*@
        </div>
        <div class="header-content">
            <h1>Учет лицензий и ИТ Услуг</h1>
        </div>        
    </div>
    <div class="float-right" style="text-align: center; padding: 10px;">      
        <div style="line-height:16px; font-size:16px; margin: 5px; color: #2a326b">
            @Html.Action("CalculusPeriod", "Information", new { area = ""})        
        </div>
        <div style="line-height:16px; margin: 5px; color: #2a326b">
            @*@Html.Action("DisplayName", "Information", new { area = "" })*@
            @Html.ActionLink("Профиль: " + Html.Action("DisplayName", "Information", new { area = "" }).ToString(),
                "Edit", "EmployeeProfile")
        </div>        
    </div>
    @*<div class="clear-float" />  *@
    <div class="clear-float"></div>
}

@section Menu {
    <ul class="main-menu">
        <li> @Html.ActionLink("НА ГЛАВНУЮ", "Index", "Home", new { area = "Customer" }, null) </li>
        <li> <a> УЧЕТ УСЛУГ </a> 
            <ul>
                <li> @Html.ActionLink("Ввод данных", "IndexHierarchy", "MaintenanceOrder", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Журнал услуг", "IndexTable", "MaintenanceOrder", new { area = "Customer" }, null) </li>   
                <li> @Html.ActionLink("Тарифы", "Index", "Tariff", new { area = "Customer" }, null)</li>
                <li> @Html.ActionLink("Услуги компании", "Index", "CompanyMaintenance", new { area = "Customer" }, null) </li>
                @*<li> @Html.ActionLink("Правила заполнения", "Index", "Tariff", new { area = "Customer" }, null) </li>*@
                <li> @Html.ActionLink("ИТ услуги", "Index", "Maintenance", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Сервисные линии", "Index", "ServiceLine", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Компоненты услуги", "Index", "Component", new { area = "Customer" }, null) </li>
            </ul>
        </li>
        <li> <a> УЧЕТ ЛИЦЕНЗИЙ </a> 
            <ul>
                <li> @Html.ActionLink("Ввод данных", "Index", "License", new { area = "Customer" }, null) </li>  
                <li> @Html.ActionLink("Подготовка данных", "Index", "ContractorSoftware", new { area = "Customer" }, null) </li>
                @*<li> @Html.ActionLink("Список ПО по пользов-ям", "Index", "InstalledSoftware", new { area = "Customer" }, null) </li>*@
                @*<li> @Html.ActionLink("Привязка лицензий", "Index", "ContractorSoftwareLicense", new { area = "Customer" }, null) </li>                 *@                          
                <li> @Html.ActionLink("Программное обеспечение", "Index", "Software", new { area = "Customer" }, null) </li>                
                <li> @Html.ActionLink("Модули ПО", "Index", "SoftwareModule", new { area = "Customer" }, null) </li> 
                <li> @Html.ActionLink("Типы ПО", "Index", "SoftwareType", new { area = "Customer" }, null) </li>                
            </ul>
        </li>
        <li> <a> СПРАВОЧНИКИ </a>
            <ul>                            
                <li> @Html.ActionLink("Сотрудники", "Index", "Employee", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("МВЗ", "Index", "CostCenter", new { area = "Customer" }, null) </li>                
                <li> @Html.ActionLink("Подразделения", "IndexHierarchy", "Department", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Контрагенты", "Index", "Contractor", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Должности", "Index", "Position", new { area = "Customer" }, null) </li>
            </ul>
        </li>
        <li> <a> ОТЧЕТЫ </a> 
            <ul>
                <li> @Html.ActionLink("Отчет по лицензиям", "UsedLicense", "Report", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Список ПО по пользов-ям", "InstalledSoftware", "Report", new { area = "Customer" }, null) </li>                
                <li> @Html.ActionLink("Шахматка по услугам", "MaintenanceCross", "Report", new { area = "Customer" }, null) </li>                
                <li> @Html.ActionLink("Шахматка v2","Chess", "Report", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Круглосуточные услуги", "R24HoursMaintenance", "Report", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Акт выполненных работ","Invoice", "Report", new { area = "Customer" }, null) </li>                
                @*<li> <a> Отчет по лицензиям </a> </li>*@
            </ul>
        </li>
        <li> <a> ОБМЕН ДАННЫМИ </a> 
            <ul>
                <li> @Html.ActionLink("МВЗ из Excel", "Index", "RawCostCenter", new { area = "Customer" }, null) </li> 
                <li> @Html.ActionLink("Услуги SAP из Excel", "Index", "RawSAPMaintenance", new { area = "", layout = "Customer" }, null) </li>                
                <li> @Html.ActionLink("Услуги из Excel", "Index", "RawMaintenanceByUser", new { area = "", layout = "Customer" }, null) </li>                                                       
                <li> @Html.ActionLink("Услуги из AD", "Index", "RawADMaintenance", new { area = "", layout = "Customer" }, null) </li>        
                <li> @Html.ActionLink("Сотрудники из ЕКС", "Index", "RawEmployee", new { area = "", layout = "Customer" }, null) </li>                
                <li> @Html.ActionLink("Компьютеры из MS SMS", "Index", "RawSystem", new { area = "", layout = "Customer" }, null) </li>  
                <li> @Html.ActionLink("Установл. ПО из MS SMS", "Index", "RawInstalledSoftware", new { area = "", layout = "Customer" }, null) </li>  
            </ul>
        </li>       
    </ul>
}

@RenderBody() 

@section Footer {
    <div class="footer-title"> БЫСТРЫЕ ССЫЛКИ </div>
                
    <ul class="links">
        <li>
            <div class="sub-title"> УСЛУГИ </div>
            <ul class="items">
                <li> @Html.ActionLink("Ввод данных по услугам", "IndexHierarchy", "MaintenanceOrder", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("Журнал услуг", "IndexTable", "MaintenanceOrder", new { area = "Customer" }, null) </li>      
                <li> @Html.ActionLink("Услуги компании", "Index", "CompanyMaintenance", new { area = "Customer" }, null) </li>                
            </ul>
        </li>
        <li>
            <div class="sub-title"> ЛИЦЕНЗИИ </div>
            <ul class="items">                
                <li> @Html.ActionLink("Ввод данных по лицензиям", "Index", "License", new { area = "Customer" }, null) </li>   
                <li> @Html.ActionLink("Подготовка данных", "Index", "ContractorSoftware", new { area = "Customer" }, null) </li>                
                <li> <a> &nbsp; </a> </li>   
            </ul>
        </li>
        <li>
            <div class="sub-title"> СПРАВОЧНИКИ </div>
            <ul class="items">
                <li> @Html.ActionLink("Сотрудники компании", "Index", "Employee", new { area = "Customer" }, null) </li>
                <li> @Html.ActionLink("МВЗ", "Index", "CostCenter", new { area = "Customer" }, null) </li>                
                <li> @Html.ActionLink("Контрагенты", "Index", "Contractor", new { area = "Customer" }, null) </li>                          
            </ul>
        </li>
        <li>
            <div class="sub-title"> ОТЧЕТЫ </div>
            <ul class="items">
                <li> @Html.ActionLink("Отчет по лицензиям", "UsedLicense", "Report", new { area = "Customer" }, null) </li>     
                <li> @Html.ActionLink("Список ПО по пользователям", "InstalledSoftware", "Report", new { area = "Customer" }, null) </li>  
                <li> @Html.ActionLink("Шахматка по услугам", "MaintenanceCross", "Report", new { area = "Customer" }, null) </li>                                   
            </ul>
        </li>
        <li style="border: none">   
            <div class="sub-title"> ОБМЕН </div>     
            <ul class="items">
                <li> @Html.ActionLink("МВЗ из Excel", "Index", "RawCostCenter", new { area = "Customer" }, null) </li>                  
                <li> @Html.ActionLink("Услуги SAP из Excel", "Index", "RawSAPMaintenance", new { area = "", layout = "Customer" }, null) </li>                                                                 
                <li> @Html.ActionLink("Услуги из AD", "Index", "RawADMaintenance", new { area = "", layout = "Customer" }, null) </li>
            </ul>        
        </li>
        @*<li style="border: none">               
            <ul class="items">
                <li>
                    <img src="~/Images/Logos/Rosneft.png" />
                </li>                       
            </ul>        
        </li>*@
    </ul>
}

@section Scripts { @RenderSection("scripts", required: false) }