﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Типы ПО";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Типы программного обеспечения</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Models.SoftwareType>()
        .Name("SoftwareType")
        .DataKeys(p => p.Add(d => d.SoftwareTypeId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "SoftwareType")
            .Insert("_CreateUpdate", "SoftwareType")  
            .Update("_CreateUpdate", "SoftwareType")
            .Delete("_Delete", "SoftwareType")
        )
        .Columns(p => {
            p.Bound(c => c.SoftwareTypeId).Hidden();
            p.Bound(c => c.Code);            
            p.Bound(c => c.Name);
            p.Bound(c => c.IsNeedLicense);            
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                     
        })    
        //.ClientEvents(p => p.OnEdit("onEdit"))    
        .Editable(p => p.Mode(GridEditMode.InLine))
        //.Groupable(p => p.Groups(g => g.Add(a => a.CompanyId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>
