﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Meta { @RenderSection("Meta", required: false) }

@section Header {
    <div class="float-left">
        <h1>Учет лицензий и ИТ Услуг</h1>
    </div>
    <div class="float-right">        
        @Html.Action("DisplayName", "Information", new { area = "" })                    
    </div>
    <div class="clear-float" />  
}

@section Menu {
    <ul class="main-menu">
        <li> <a> БЕЗОПАСНОСТЬ </a> 
            <ul>
                <li> @Html.ActionLink("Мониторинг", "Index", "LogUserActivity", new { area = "Admin" }, null) </li> 
                <li> @Html.ActionLink("Роли", "Index", "Role", new { area = "Admin" }, null) </li> 
                <li> @Html.ActionLink("События", "Index", "LogAppEvent", new { area = "Admin" }, null) </li>                
            </ul>
        </li>
        <li> <a> СПРАВОЧНИКИ </a> 
            <ul>
                <li> @Html.ActionLink("Компании", "Index", "Company", new { area = "Admin" }, null) </li>    
                <li> @Html.ActionLink("Слайд-шоу", "Index", "Picture", new { area = "Admin" }, null) </li>                    
            </ul>
        </li>
        <li> <a> ОБМЕН ДАННЫМИ </a> 
            <ul>
                <li> @Html.ActionLink("Услуги SAP из Excel", "Index", "RawSAPMaintenance", new { area = "", layout = "Admin" }, null) </li>   
                <li> @Html.ActionLink("Услуги из Excel", "Index", "RawMaintenanceByUser", new { area = "", layout = "Admin" }, null) </li> 
                <li> @Html.ActionLink("Услуги из AD", "Index", "RawADMaintenance", new { area = "", layout = "Admin" }, null) </li>
                <li> @Html.ActionLink("Сотрудники из ЕКС", "Index", "RawEmployee", new { area = "", layout = "Admin" }, null) </li>
                <li> @Html.ActionLink("Компьютеры из MS SMS", "Index", "RawSystem", new { area = "", layout = "Admin" }, null) </li>
                <li> @Html.ActionLink("Установл. ПО из MS SMS", "Index", "RawInstalledSoftware", new { area = "", layout = "Admin" }, null) </li>  
            </ul>
        </li>
        <li> <a> НАСТРОЙКИ </a> 
            <ul>
                <li> @Html.ActionLink("Система", "Index", "SystemParameter", new { area = "Admin" }, null) </li>    
                <li> @Html.ActionLink("Планировщик", "Index", "ScheduledTask", new { area = "Admin" }, null) </li>                
                <li> @Html.ActionLink("Список ошибок", "Index", "LogError", new { area = "Admin" }, null) </li>  
            </ul>
        </li>
    </ul>
}

@RenderBody() 

@section Footer {
    <div class="footer-title"> БЫСТРЫЕ ССЫЛКИ </div>
                
    <ul class="links">
        <li>
            <div class="sub-title"> Безопасность </div>
            <ul class="items">
                <li> @Html.ActionLink("Мониторинг активности", "Index", "LogUserActivity", new { area = "Admin" }, null) </li> 
                <li> @Html.ActionLink("Системные роли", "Index", "Role", new { area = "Admin" }, null) </li> 
                <li> @Html.ActionLink("События приложения", "Index", "LogAppEvent", new { area = "Admin" }, null) </li>     
            </ul>
        </li>
        <li>
            <div class="sub-title"> Справочники </div>
            <ul class="items">                
                <li> @Html.ActionLink("Учетные компании", "Index", "Company", new { area = "Admin" }, null) </li>    
                <li> @Html.ActionLink("Изображения для слайд-шоу", "Index", "Picture", new { area = "Admin" }, null) </li>                    
                <li> <a> &nbsp; </a> </li> 
            </ul>
        </li>
        <li>
            <div class="sub-title"> Обмен данными </div>
            <ul class="items">
                <li> @Html.ActionLink("Услуги из Excel", "Index", "RawMaintenanceByUser", new { area = "", layout = "Admin" }, null) </li> 
                <li> @Html.ActionLink("Услуги из AD", "Index", "RawADMaintenance", new { area = "", layout = "Admin" }, null) </li>
                <li> @Html.ActionLink("Сотрудники из ЕКС", "Index", "RawEmployee", new { area = "", layout = "Admin" }, null) </li>
            </ul>
        </li>
        <li style="border: none">
            <div class="sub-title"> Настройка </div>
            <ul class="items">
                <li> @Html.ActionLink("Конфигурирование системы", "Index", "SystemParameter", new { area = "Admin" }, null) </li>    
                <li> @Html.ActionLink("Планировщик задач", "Index", "ScheduledTask", new { area = "Admin" }, null) </li>                                                      
                <li> <a> &nbsp; </a> </li> 
            </ul>
        </li>        
        @*<li style="border: none">               
            <ul class="items">
                <li>
                    <img src="~/Images/Logos/Rosneft.png" />
                </li>                       
            </ul>        
        </li>*@
    </ul>
}

@section Scripts { @RenderSection("scripts", required: false) }