﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Компоненты";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Компоненты услуги</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Models.Component>()
        .Name("ComponentListView")
        .DataKeys(p => p.Add(d => d.ComponentId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "Component")
            .Insert("_CreateUpdate", "Component")              
            .Update("_CreateUpdate", "Component")  
            .Delete("_Delete", "Component")
        )
        .Columns(p => {
            p.Bound(c => c.ComponentId).Hidden();
            p.Bound(c => c.Code);
            p.Bound(c => c.Name);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                     
        })
        //.ClientEvents(p => p.OnEdit("onEdit"))
        .Editable(p => p.Mode(GridEditMode.InLine))
        //.Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>