﻿@model Core.Views.RawEmployeeView
@using Telerik.Web.Mvc.UI

<div style="margin-bottom: 5px;">
    @{Html.Telerik().TabStrip()
          .Name("TabStrip")
          .HtmlAttributes(new { style = "width: 450px;" })
          .Items(p => {
              p.Add()
                  .Text("Данные")
                  .Content(@<text>     
                    <div style="min-height: 350px;"> 
                        <div>
                            @Html.HiddenFor(c => c.RawEmployeeId)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawAuthid)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawAuthid, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawAuthid)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawSurname)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawSurname, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawSurname)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawFirstname)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawFirstname, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawFirstname)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawMiddlename)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawMiddlename, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawMiddlename)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawCostCenter)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawCostCenter, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawCostCenter)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawPosition)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawPosition, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawPosition)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawDepartmentCode)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawDepartmentCode, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawDepartmentCode)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawDepartmentCodes)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawDepartmentCodes, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawDepartmentCodes)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawDepartmentNames)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawDepartmentNames, new { @class = "two-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawDepartmentNames)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawEMail)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.TextAreaFor(c => c.RawEMail, new { @class = "single-row-editor" })  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawEMail)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.RawDischargeDate)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.EditorFor(c => c.RawDischargeDate)  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.RawDischargeDate)
                        </div> 
                    </div>
                  </text>);
              p.Add()
                  .Text("База")
                  .Content(@<text> 
                    <div style="min-height: 350px;"> 
                        <div class="editor-label">
                            @Html.LabelFor(c => c.CompanyId)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.EditorFor(c => c.CompanyId)  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.CompanyId)
                        </div>                     
                             
                        <div class="editor-label">
                            @Html.LabelFor(c => c.EmployeeId)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.EditorFor(c => c.EmployeeId)  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.EmployeeId)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.CostCenterId)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.EditorFor(c => c.CostCenterId)  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.CostCenterId)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.PositionId)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.EditorFor(c => c.PositionId)  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.PositionId)
                        </div> 

                        <div class="editor-label">
                            @Html.LabelFor(c => c.DepartmentId)<span class="required-field">*</span>:
                        </div>
                        <div class="editor-field">                 
                            @Html.EditorFor(c => c.DepartmentId)  
                        </div>
                        <div class="editor-validation">
                            @Html.ValidationMessageFor(c => c.DepartmentId)
                        </div> 
                    </div>
                  </text>);
          })
          .SelectedIndex(0)
          .Render(); 
    }
</div>