﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Сотрудники";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Сотрудники</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.EmployeeView>()
        .Name("Employee")
        .DataKeys(p => p.Add(d => d.EmployeeId))
        .ToolBar(p => p.Template(@<text> 
            @item.InsertButton(GridButtonType.Text)
            <div style="display:inline-block; margin: 2px 30px; vertical-align: middle; text-align: right;">
                <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                    Компания:    
                </div>
                <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                    @(Html.Telerik().ComboBox()
                        .Name("Company")
                        .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                        .AutoFill(true)
                        .Filterable(f => f.FilterMode(AutoCompleteFilterMode.Contains))
                        .HtmlAttributes(new { style = "width: 250px;" })
                        .ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnLoadCompany"))
                        .HighlightFirstMatch(true)                                   
                    )
                </div>
            </div>
        </text>))            
        .DataBinding(b => b.Ajax()
            .Select("_Index", "Employee")
            .Insert("_CreateUpdate", "Employee")  
            .Update("_CreateUpdate", "Employee")
            .Delete("_Delete", "Employee")
        )
        .Columns(p =>
        {
            p.Bound(c => c.Authid);
            p.Bound(c => c.Fullname);
            p.Bound(c => c.CostCenterId);            
            p.Bound(c => c.DepartmentId);
            p.Bound(c => c.Status);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            });
        })
        .ClientEvents(p => {
            p.OnEdit("OnEditEmployee");
            p.OnDataBinding("OnDataBindingEmployee");
        })
        .Editable(p => p.Mode(GridEditMode.PopUp))
        .Groupable()
        .Filterable()
        .Sortable(p => p.OrderBy(o => o.Add(a => a.Fullname)))
        .Pageable(p => p.PageSize(15))        
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function OnChangeCompany() {
            $("#Employee").data("tGrid").rebind();
        }

        function OnLoadCompany() {
            $(this).data("tComboBox").fill(function () {
                $("#Employee").data("tGrid").rebind();
            });
        }

        function OnEditEmployee(e) {
            $(e.form).find('#PositionId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['PositionId'];
            });
            $(e.form).find('#DepartmentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['DepartmentId'];
            });
            $(e.form).find('#CostCenterId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CostCenterId'];
            });            

            if (e.dataItem['CompanyId'] != '' && e.dataItem['CompanyId'] != null) {
                $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                    return dataItem.Text == e.dataItem['CompanyId'];
                });
            }
            else {
                $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                    var companyName = $("#Company").data("tComboBox").text();                    
                    return dataItem.Text == companyName;
                });
            }

            $.ajax({
                type: 'POST',
                url: '/Customer/ComputerSystem/_Details',
                data: 'employeeId=' + e.dataItem['EmployeeId']
            })
            .done(function (result) {
                $("#employee-system").replaceWith(result);
            })
            .fail(function () {
                alert('При выполнении запроса Описание системы произошла ошибка!');
            });

            $.ajax({
                type: 'POST',
                url: '/Customer/MaintenanceOrder/_Index/',
                data: 'dataId=' + e.dataItem['EmployeeId']
            })
            .done(function (result) {
                $("#employee-maintenance").replaceWith(result);
            })
            .fail(function () {
                alert('При выполнении запроса Списка услуг произошла ошибка!');
            });

            $.ajax({
                type: 'POST',
                url: '/Customer/InstalledSoftware/_Index/',
                data: 'dataId=' + e.dataItem['EmployeeId']
            })
            .done(function (result) {
                $("#employee-program").replaceWith(result);
            })
            .fail(function () {
                alert('При выполнении запроса Списка программ произошла ошибка!');
            });
        }

        function OnDataBindingEmployee(args) {
            if ($("#Company").val() != '') {
                var companyId = $("#Company").data("tComboBox").value();                
                args.data = $.extend(args.data, { companyId: companyId });
            }
        }
    </script>
}
