﻿@model Core.Models.Subdivision

@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Шахматка по услугам тест";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Шахматка по услугам тест</h2>
    @using (Html.BeginForm("_Chess", "Report"/*, new { page = 1, orderBy = "~", filter = "~" }*/))
    {
        <div>
            Компания:
        </div>
        <div>
            @(Html.Telerik().ComboBox()
                .Name("CompanyId")
                .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 300px;" })
                .HighlightFirstMatch(true)
            )
        </div>  

        <div>
            Период:
        </div>
        <div>
            @(Html.Telerik().ComboBox()
                .Name("CodeMonth")
                .DataBinding(t => t.Ajax().Select("_CodeMonth", "Calendar", new { area = "" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 300px;" })
                .HighlightFirstMatch(true)
            )
        </div> 
       
        <div>
            Принадлежность:
        </div>        
            
        <div>
            @(Html.Telerik().ComboBox()
                .Name("SubdivisionId")
                .DataBinding(t => t.Ajax().Select("_Index", "Subdivision", new { area = "Customer" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 300px;" })
                .HighlightFirstMatch(true)
            )

        </div> 
        
        <p style="text-align: center;">
            <input type="submit" value="Сформировать" class="t-button" />
        </p>   

    }
</div>

