﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Отчет: Список ПО";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Отчет: Список ПО по пользователям/компьютерам</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.InstalledSoftwareView>()
        .Name("InstalledSoftware")
        //.HtmlAttributes(new { @style = "height: 200px;" })
        .ToolBar(commands => commands
            .Custom()
                .HtmlAttributes(new { id = "export" })
                .Text("Выгрузить в Excel")
                .Action("_InstalledSoftware", "Print", new { page = 1, orderBy = "~", filter = "~" }))
        .DataBinding(b => b.Ajax()
            .Select("_InstalledSoftware", "Report")
        )
        .Columns(p =>
        {
            p.Bound(c => c.EmployeeFullname);
            p.Bound(c => c.NetbiosName);
            p.Bound(c => c.Software);          
        })
        .ClientEvents(events => events.OnDataBound("OnDataBoundInstalledSoftware"))
        .Filterable()
        .Sortable()
        //.Scrollable()
        .Pageable(p => p.PageSize(20))        
    )
</div>

@section Scripts {
    <script type="text/javascript">
        function OnDataBoundInstalledSoftware() {
            var grid = $(this).data('tGrid');
            var $exportLink = $('#export');
            var href = $exportLink.attr('href');
            href = href.replace(/page=([^&]*)/, 'page=' + grid.currentPage);
            href = href.replace(/orderBy=([^&]*)/, 'orderBy=' + (grid.orderBy || '~'));
            href = href.replace(/filter=(.*)/, 'filter=' + (grid.filterBy || '~'));
            $exportLink.attr('href', href);
        }
    </script>
}
