﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Шахматка";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Шахматка по услугам</h2>
</div>

@*<div style="text-align: center; color: red;">
    @TempData["Message"]
</div>*@

<div style="margin:5px 300px; padding: 10px 18px; border: 1px solid #c3c3c3; border-style: inset; background-color: #f5f5f5;">
   @using (Html.BeginForm("_MaintenanceCross", "Report")) 
    {
       
       <div>
           Компания:
       </div>
       <div>
            @(Html.Telerik().ComboBox()
                .Name("CompanyId")
                .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 300px;" })
                .HighlightFirstMatch(true)
            )    
       </div>    
       <div>
           Период:
       </div>
       <div>
            @(Html.Telerik().ComboBox()
                .Name("CodeMonth")
                .DataBinding(t => t.Ajax().Select("_CodeMonth", "Calendar", new { area = "" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 300px;" })
                .HighlightFirstMatch(true)
            )    
       </div>
    
       <p style="text-align: center;">
            <input type="submit" value="Сформировать" class="t-button" />
       </p>    
    }
</div>


