﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Отчет: Круглосутка";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Отчет: Список пользователей по круглосуточным услугам</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Reports.R24HoursMaintenance>()
        .Name("R24HoursMaintenance")
        //.HtmlAttributes(new { @style = "height: 200px;" })
        .ToolBar(commands => commands
            .Custom()
                .HtmlAttributes(new { id = "export" })
                .Text("Выгрузить в Excel")
                .Action("_R24HoursMaintenance", "Print", new { page = 1, orderBy = "~", filter = "~" }))
        .DataBinding(b => b.Ajax()
            .Select("_R24HoursMaintenance", "Report")
        )
        .Columns(p =>
        {
            p.Bound(c => c.Maintenance);
            p.Bound(c => c.Authid);    
            p.Bound(c => c.Employee);                               
        })
        .ClientEvents(events => events.OnDataBound("OnDataBoundR24HoursMaintenance"))
        .Filterable()
        .Sortable()
        //.Scrollable()
        .Pageable(p => p.PageSize(20))        
    )
</div>

@section Scripts {
    <script type="text/javascript">
        function OnDataBoundR24HoursMaintenance() {
            var grid = $(this).data('tGrid');
            var $exportLink = $('#export');
            var href = $exportLink.attr('href');
            href = href.replace(/page=([^&]*)/, 'page=' + grid.currentPage);
            href = href.replace(/orderBy=([^&]*)/, 'orderBy=' + (grid.orderBy || '~'));
            href = href.replace(/filter=(.*)/, 'filter=' + (grid.filterBy || '~'));
            $exportLink.attr('href', href);
        }
    </script>
}
