﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Отчет по лицензиям";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Отчет по лицензиям</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Reports.UsedLicense>()
        .Name("UsedLicense")
        .ToolBar(commands => commands
            .Custom()
                .HtmlAttributes(new { id = "export" })
                .Text("Выгрузить в Excel")
                .Action("_UsedLicense", "Print", new { page = 1, orderBy = "~", filter = "~" }))        
        .DataBinding(b => b.Ajax()
            .Select("_UsedLicense", "Report")
        )        
        .Columns(p =>
        {
            p.Bound(c => c.Contract); 
            p.Bound(c => c.Contractor);
            p.Bound(c => c.Software);
            p.Bound(c => c.DateTo);             
            p.Bound(c => c.Amount);           
            p.Bound(c => c.UsedAmount)
                .ClientTemplate(Html.ActionLink("<#= UsedAmount #>", "UsedLicenseByUser", "Report", new { SoftwareId = "<#= SoftwareId #>" }, null).ToString()); 
            p.Bound(c => c.Balance);    
        })        
        .ClientEvents(p => p.OnDataBound("OnDataBoundUsedLicense"))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(15))
    )
</div>

<div class="note">
    <span class="note-asterisk">*</span> Вы можете расшифровать поле "Использовано", уточнив, на каком конкретно компьютере и кем из пользователей используется ПО.
</div>

@section Scripts {
    <script type="text/javascript">
        function OnDataBoundUsedLicense() {
            var grid = $(this).data('tGrid');
            var $exportLink = $('#export');
            var href = $exportLink.attr('href');
            href = href.replace(/page=([^&]*)/, 'page=' + grid.currentPage);
            href = href.replace(/orderBy=([^&]*)/, 'orderBy=' + (grid.orderBy || '~'));
            href = href.replace(/filter=(.*)/, 'filter=' + (grid.filterBy || '~'));
            $exportLink.attr('href', href);
        }
    </script>
}