﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Отчет: Список ПО";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Отчет: Список ПО по пользователям/компьютерам</h2>
</div>

<p>
    @Html.ActionLink("Вернуться к отчету", "UsedLicense", "Report")
</p>

<div>
    @(Html.Telerik().Grid<Core.Views.InstalledSoftwareView>()
        .Name("InstalledSoftwareView")
        .DataBinding(b => b.Ajax()
            .Select("_UsedLicenseByUser", "Report", new { softwareId = ViewBag.SoftwareId })
        )
        .Columns(p =>
        {
            p.Bound(c => c.EmployeeFullname);
            p.Bound(c => c.NetbiosName);
            p.Bound(c => c.Software);
        })
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>