﻿@model Core.Views.LogAppEventView

<div id="changes" class="changes">
    <div class="changes-items">
        @foreach (var item in Model.LogAppEvents) 
        {
            <div class="changes-item">
                <div>               
                    <span class="changes-time"> @item.MakeDate.ToString("dd MMMM yyyy, hh:mm") </span>
                    <span class="changes-employee"> @Html.DisplayFor(modelItem => item.Employee.Fullname) </span>
                </div>
                <div class="changes-content"> 
                    @Html.ActionLink(item.Comment + " (изменено " + item.LogDataChanges.Count().ToString() + " записей)", 
                        "Details", "LogAppEvent", new { area = "Customer", logAppEventId = item.LogAppEventId }, null)                    
                </div>                
            </div>
                        
        }       
    </div>
    <div class="pager">
        @Ajax.StandartPager("_Index", "LogAppEvent", Model.PagingInfo, "changes")            
    </div>  
</div>