﻿@model Core.Models.SystemParameter

<fieldset>
    <legend>Роль</legend>

    <div>
        @Html.HiddenFor(p => p.SystemParameterId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Description)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Description, new { @class = "single-row-editor" })
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Name)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Name, new { @class = "single-row-editor" })
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.Value)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Value, new { @class = "single-row-editor" })
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Value)
    </div>

        <div class="editor-label">
        @Html.LabelFor(p => p.Comment):
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(p => p.Comment, new { @class = "two-row-editor" })
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.Comment)
    </div>

</fieldset>