﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Компании";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Компании</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.CompanyView>()
        .Name("Company")
        .DataKeys(p => p.Add(d => d.CompanyId))
      //  .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "Company")
        )
        .Columns(p =>
        {
            //p.Bound(c => c.CompanyId).Hidden();
            p.Bound(c => c.Name);
            p.Bound(c => c.EKC);
            p.Bound(c => c.BMC);
        })        
        //.ClientEvents(p => p.OnEdit("onEdit"))    
        //.Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable(p => p.Groups(g => g.Add(a => a.CompanyId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))                  
    )
</div>