﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: МВЗ";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: МВЗ</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.CostCenterView>()
        .Name("CostCenter")
        .DataKeys(p => p.Add(d => d.CostCenterId))
        .ToolBar(p => {
            p.Template(                
                @<text>
                    <div style="display:inline-block">
                        @item.InsertButton(GridButtonType.Text)
                    </div>

                     <div style="display:inline-block; margin: 2px 30px; vertical-align: middle; text-align: right;">
                         <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                            Компания:    
                         </div>
                         <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                             @(Html.Telerik().ComboBox()
                                   .Name("Companies")
                                   .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                                   .AutoFill(true)
                                   .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                                   .HtmlAttributes(new { style = "width: 250px;" })
                                   .ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnLoadCompany"))
                                   .HighlightFirstMatch(true)                                   
                             )
                        </div>
                     </div>
     
                </text>
            );
        })                
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "CostCenter")
            .Insert("_CreateUpdate", "CostCenter")  
            .Update("_CreateUpdate", "CostCenter")
            .Delete("_Delete", "CostCenter")
        )
        .Columns(p => {
            //p.Bound(c => c.CompanyId);     
            p.Bound(c => c.Code);            
            p.Bound(c => c.Name);            
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                     
        })    
        .ClientEvents(p => {
            p.OnEdit("OnEditCostCenter");
            p.OnDataBinding("OnDataBindingCostCenter");
        })    
        .Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable(p => p.Groups(g => g.Add(a => a.CompanyId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditCostCenter(e) {
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
        }

        function OnDataBindingCostCenter(args) {
            if ($("#Companies").val() != '') {
                var companyId = $("#Companies").data("tComboBox").value();
                args.data = $.extend(args.data, { companyId: companyId });
            }
        }

        function OnChangeCompany() {
            $("#CostCenter").data("tGrid").rebind();
        }

        function OnLoadCompany() {
            $(this).data("tComboBox").fill(function () {
                $("#CostCenter").data("tGrid").rebind();
            });
        }

    </script>
}