﻿@model Core.Views.CompanyMaintenanceView

<fieldset>
    <legend>Услуга компании</legend>

    <div>
        @Html.HiddenFor(p => p.CompanyMaintenanceId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.CompanyId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.CompanyId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.CompanyId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(p => p.MaintenanceId)<span class="required-field">*</span>:
    </div>
    <div class="editor-field">
        @Html.EditorFor(p => p.MaintenanceId)        
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(p => p.MaintenanceId)
    </div>

</fieldset>