﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Тарифы";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Тарифы</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.TariffView>()
        .Name("Tariff")
        .DataKeys(p => p.Add(d => d.TariffId))
        //.ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))        
        .ToolBar(p => {
            //p.Insert().ButtonType(GridButtonType.Text);
            p.Template(                
                @<text>
                    @item.InsertButton(GridButtonType.Text)
                     <div style="display:inline-block; margin: 2px 30px; vertical-align: middle; text-align: right;">
                         <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                            Компания:    
                         </div>
                         <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                             @(Html.Telerik().ComboBox()
                                   .Name("Companies")
                                   .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                                   .AutoFill(true)
                                   .Filterable(f => f.FilterMode(AutoCompleteFilterMode.Contains))
                                   .HtmlAttributes(new { style = "width: 250px;" })
                                   .ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnLoadCompany"))
                                   .HighlightFirstMatch(true)                                   
                             )
                        </div>
                        
                        <div style="display:inline-block; vertical-align: middle; line-height: 22px;">
                           Услуга:    
                        </div>
                        <div style="display:inline-block; font-size: 13px; vertical-align: middle; padding-top: 3px; ">
                            @(Html.Telerik().ComboBox()
                                  .Name("Maintenance")
                                  .DataBinding(t => t.Ajax().Select("_Selection", "Maintenance", new { area = "Customer" }))
                                  .AutoFill(true)
                                  .Filterable(f => f.FilterMode(AutoCompleteFilterMode.Contains))
                                  .HtmlAttributes(new { style = "width: 250px;" })
                                  .ClientEvents(e => e.OnChange("OnChangeMaintenance").OnLoad("OnLoadMaintenance"))
                                  .HighlightFirstMatch(true)           
                                  //.SelectedIndex(0)                        
                            )
                        </div>
                     </div>                    
                </text>
            );
        })                
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "Tariff")
            .Insert("_CreateUpdate", "Tariff")              
            .Update("_CreateUpdate", "Tariff")  
            .Delete("_Delete", "Tariff")
        )
        .Columns(p => {            
            p.Bound(c => c.MaintenanceId);
            p.Bound(c => c.ComponentId);
            p.Bound(c => c.SupportLevelId);
            p.Bound(c => c.MeasureId);            
            p.Bound(c => c.Price);             
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                     
        })
        .ClientEvents(p => {
            p.OnEdit("OnEditTariff");
            p.OnDataBinding("OnDataBindingTariff");            
        })
        .Editable(p => p.Mode(GridEditMode.PopUp))
        .Groupable(p => p.Groups(g => g.Add(a => a.MaintenanceId)))
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts{
        
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditTariff(e) {
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#MaintenanceId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MaintenanceId'];
            });
            $(e.form).find('#ComponentId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['ComponentId'];
            });
            $(e.form).find('#SupportLevelId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SupportLevelId'];
            });
            $(e.form).find('#MeasureId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['MeasureId'];
            });
        };

        function OnChangeCompany() {
            $("#Tariff").data("tGrid").rebind();
        }

        function OnLoadCompany() {
            $(this).data("tComboBox").fill(function () {
                $("#Tariff").data("tGrid").rebind();
            });
        }

        function OnChangeMaintenance() {
            $("#Tariff").data("tGrid").rebind();
        }

        function OnLoadMaintenance() {
            $(this).data("tComboBox").fill(function () {
                $("#Tariff").data("tGrid").rebind();
            });
        }

        function OnDataBindingTariff(args) {
            if ($("#Companies").val() != '') {
                var companyId = $("#Companies").data("tComboBox").value();
                var maintenanceId = $("#Maintenance").data("tComboBox").value();
                args.data = $.extend(args.data, { companyId: companyId, maintenanceId: maintenanceId });
            }
        }
    </script>
}