﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Справочник: Модули ПО";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Справочник: Модули программного обеспечения</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.SoftwareModuleView>()
        .Name("SoftwareModuleView")
        .DataKeys(p => p.Add(d => d.SoftwareModuleId))
        .ToolBar(p => p.Insert().ButtonType(GridButtonType.Text))
        .DataBinding(b => b.Ajax()            
            .Select("_Index", "SoftwareModule")
            .Insert("_CreateUpdate", "SoftwareModule")              
            .Update("_CreateUpdate", "SoftwareModule")  
            .Delete("_Delete", "SoftwareModule")
        )
        .Columns(p => {

            p.Bound(c => c.Code);
            p.Bound(c => c.Name);
            p.Bound(c => c.SoftwareId);
            p.Command(c =>
            {
                c.Edit().ButtonType(GridButtonType.Text);
                c.Delete().ButtonType(GridButtonType.Text);
            }).Width(200);                     
        })
        .ClientEvents(p => p.OnEdit("OnEditSoftwareModule"))
        .Editable(p => p.Mode(GridEditMode.PopUp))
        //.Groupable()
        .Filterable()
        .Sortable()
        .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function OnEditSoftwareModule(e) {
            $(e.form).find('#SoftwareId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['SoftwareId'];
            });           
        }
    </script>
}