﻿@model Core.Models.LogError
@{
    ViewBag.Title = "Ошибка";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Детали ошибки</h2>
</div>

<fieldset>
    <legend>Описание</legend>

    <div class="display-label" style="font-weight: bold">
         @Html.DisplayNameFor(model => model.EventDate):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDate)
    </div>

    <div class="display-label" style="font-weight: bold">
         @Html.DisplayNameFor(model => model.Authid):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Authid)
    </div>

    <div class="display-label" style="font-weight: bold">
         @Html.DisplayNameFor(model => model.ComputerIP):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ComputerIP)
    </div>

    <div class="display-label" style="font-weight: bold">
         @Html.DisplayNameFor(model => model.Message):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label" style="font-weight: bold">
         @Html.DisplayNameFor(model => model.InnerException):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InnerException)
    </div>

    <div class="display-label" style="font-weight: bold">
         @Html.DisplayNameFor(model => model.Source):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Source)
    </div>

    <div class="display-label" style="font-weight: bold">
         @Html.DisplayNameFor(model => model.StackTrace):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StackTrace)
    </div>
</fieldset>

<p>
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
