﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Ошибки";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Список ошибок</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Models.LogError>()
        .Name("LogError")
        .DataKeys(p => p.Add(d => d.LogErrorId))        
        .DataBinding(b => b.Ajax()
            .Select("_Index", "LogError")
        )
        .Columns(p =>
        {                        
            p.Bound(c => c.EventDate);            
            p.Bound(c => c.Authid);            
            p.Bound(c => c.LogErrorId)
                .ClientTemplate("<a href='/Admin/LogError/Details?LogErrorId=<#=LogErrorId#>'><#=Message#></a>")
                .Title("Сообщение");            
        })        
        .Filterable()        
        .Pageable(p => p.PageSize(20))                 
    )
</div>
