﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Загрузка МВЗ";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Загрузка МВЗ из файла</h2>
</div>

<div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 1. </span> Укажите параметры обработки данных (компания)</div>
        <div>
            @(Html.Telerik().ComboBox()
                .Name("Companies")
                .DataBinding(t => t.Ajax().Select("_Index", "Company", new { area = "Customer" }))
                .AutoFill(true)
                .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                .HtmlAttributes(new { style = "width: 250px; font-size: 12px;" })
                .ClientEvents(e => e.OnChange("OnChangeCompany").OnLoad("OnLoadCompany"))
                .HighlightFirstMatch(true)                                   
            )
        </div>
    </div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 2. </span> Загрузите файл</div>
        <div>
            @(Html.Telerik().Upload()
                .Name("attachments")
                .ClientEvents(p => {
                    p.OnComplete("OnCompleteParseCostCenter");
                    p.OnUpload("OnUploadParseCostCenter");
                })
                .Async(async => async.Save("_LoadFile", "RawCostCenter"))
            )  
        </div>
    </div>
    <div style="margin: 5px 10px;">
        <div> <span style="font-weight:bold"> Шаг 3. </span> Последовательно выполните команды </div>                
        <div style="display: inline-block">
            @Ajax.ActionLink("Обработать данные", "_Parse", "RawCostCenter", null, 
                new AjaxOptions { HttpMethod = "POST", LoadingElementId = "action-result", 
                                  OnComplete = "OnCompleteParseCostCenter" }, 
                new { @class = "t-button" })                                 
        </div>
        <div style="display: inline-block">
            @Ajax.ActionLink("Загрузить данные", "_Load", "RawCostCenter", null, 
                new AjaxOptions { HttpMethod = "POST", LoadingElementId = "action-result", 
                                  OnComplete = "OnCompleteParseCostCenter" }, 
                new { @class = "t-button" })                                 
        </div>
    </div>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.RawCostCenterView>()
            .Name("RawCostCenter")
            .DataKeys(p => p.Add(d => d.RawCostCenterId))           
            .DataBinding(b => b.Ajax()
                .Select("_Index", "RawCostCenter")
                .Update("_Update", "RawCostCenter")
                .Delete("_Delete", "RawSAPMaintenance")
            )
            .Columns(p =>
            {
                //p.Bound(c => c.RawSAPMaintenanceId).Hidden();
                p.Bound(c => c.CompanyId);
                p.Bound(c => c.ExcelCode);
                p.Bound(c => c.ExcelName);
                //p.Bound(c => c.Module);
                p.Bound(c => c.CostCenterId);
                p.Command(c =>
                {
                    c.Edit().ButtonType(GridButtonType.Text);
                    c.Delete().ButtonType(GridButtonType.Text);
                }).Width(200);
            })
            .ClientEvents(p => {
                p.OnEdit("OnEditCostCenter");
              //  p.OnDataBinding("OnDataBindingRawCostCenter");
            })            
            //
            .Editable(p => p.Mode(GridEditMode.PopUp))
            //.Groupable()
            .Filterable()
            .Sortable()
            .Pageable(p => p.PageSize(20))
    )
</div>

@section Scripts {
    <script type="text/javascript">
        function OnEditCostCenter(e) {
            $(e.form).find('#CompanyId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CompanyId'];
            });
            $(e.form).find('#CostCenterId').data('tComboBox').select(function (dataItem) {
                return dataItem.Text == e.dataItem['CostCenterId'];
            });
        }

        function OnCompleteParseCostCenter() {
            var grid = $('#RawCostCenter').data('tGrid');            
            if (grid != null)
            {                
                grid.rebind();                
            }            
        }

        function OnUploadParseCostCenter(e) {
            e.data = { companyId: $("#Companies").data("tComboBox").value() };
        }

        //function OnDataBindingRawCostCenter(args) {
        //    if ($("#Companies").val() != '') {
        //        var companyId = $("#Companies").data("tComboBox").value();
        //        args.data = $.extend(args.data, { companyId: companyId });
        //    }
        //}

        function OnChangeCompany() {
            $("#RawCostCenter").data("tGrid").rebind();
        }

        function OnLoadCompany() {
            $(this).data("tComboBox").fill(function () {
                $("#RawCostCenter").data("tGrid").rebind();
            });
        }
    </script>
}