﻿@model IEnumerable<Core.Models.Picture>

<div id="slideshow-progress-bar-container">
    <div id="slideshow-progress-bar"></div>
</div>

<div id="slide-show">
    @foreach (var item in Model) {

        <div class="slide-show-card">                        
            @if (item.FileContent != null) {
                <img src="@Url.Action("GetImage", "Picture", new { area = "Customer", pictureId = item.PictureId })" />
            }
        </div>        
    }
</div>