﻿@model Core.Models.LogAppEvent
@{
    ViewBag.Title = "Детали загрузки";
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>Детали загрузки</h2>
</div>

<table style="margin:10px;">
    <tr>
        <td> Дата: </td>
        <td> @Html.DisplayFor(model => model.MakeDate) </td>
    </tr>
    <tr>
        <td> Создатель: </td>
        <td> @Html.DisplayFor(model => model.Employee.Fullname) </td>
    </tr>
    <tr>
        <td> Комментарий: </td>
        <td> @Html.DisplayFor(model => model.Comment) </td>
    </tr>
</table>

@Html.Action("_Index", "LogDataChange", new { area = "Customer", logAppEventId = Model.LogAppEventId })