﻿@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "События системы";    
}
@section Meta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
}

<div class="page-title">
    <h2>События системы</h2>
</div>

<div>
    @(Html.Telerik().Grid<Core.Views.LogAppEventView>()
        .Name("LogAppEvent")        
        .DataKeys(p => p.Add(d => d.LogAppEventId))
        .DataBinding(b => b.Ajax()
            .Select("_Index", "LogAppEvent")
            .Delete("_Delete", "LogAppEvent")
        )
        .Columns(p =>
                {
                    p.Bound(c => c.LogAppEventId).Hidden();
                    p.Bound(c => c.MakeDate).Format("{0:dd.MM.yyyy HH:mm:ss }");
                    p.Bound(c => c.Employee);                   
                    p.Bound(c=> c.Comment)                                         
                        .ClientTemplate(
                         Html.ActionLink("<#= Comment #>" + " ( изменено <#= LogDataChanges #> записей )", "Details", "LogAppEvent", new { logAppEventId = "<#= LogAppEventId #>" }, null).ToString()
                        );                  
                     //p.Bound(c => c.LogAppEvents.);
                    p.Command(c => c.Delete().ButtonType(GridButtonType.Image)).Width(40);
                    
        })
        .Filterable()
        .Sortable(s => s.OrderBy(o => o.Add(a => a.MakeDate).Descending()).SortMode(GridSortMode.MultipleColumn))
        .Pageable(p => p.PageSize(20))
      
    )
</div>

